---
layout: default
title: About
permalink: /about/
---

<h1 class="post-title">{{ page.title }}</h1>

<p class="about-page-main-text">Hello, I'm Devin, and welcome to Osbern Culinary. As a dedicated 
    computer science student and an avid cooking enthusiast, this project is the fusion of my two 
    passions. I have a Bachelor of Science in Computer Science from UMKC, and I've conducted research 
    into food science during my spare time. Additionally, I've honed my culinary skills by working 
    in restaurant kitchens. This website serves as a central hub, allowing me to share my meticulously 
    crafted recipes with fellow enthusiasts who share my commitment to preparing exceptional meals.
</p>

<p class="about-page-main-text">I've curated an extensive collection of thousands of recipes, 
    diligently testing and enhancing many of them while also crafting entirely new creations. 
    The recipes showcased here represent my personal favorites. Each dish undergoes thorough 
    research to uncover its distinctive ingredients, techniques, and history. My background 
    knowledge, coupled with access to restaurant kitchens, provides the perfect environment for 
    experimenting and refining a wide range of culinary creations.
</p>

<p class="about-page-main-text">My inspiration for this project started during my undergraduate 
    studies when I undertook a web development course. I've constructed this site from the ground 
    up, using the power of Jekyll as a static site generator, and leveraging the capabilities of 
    HTML, CSS, and JavaScript.
</p>

<p class="about-page-main-text">If you have any questions or comments feel free to email me at 
    <a href="mailto:{{ site.email }}">{{ site.email }}</a>. And if you are interested in my 
    resume, you can check it out at <a href="https://drosbern.com">drosbern.com</a>.
</p>

<h2>Credits</h2>

<p class="about-page-main-text">Special thanks to <a href="https://delapouite.com/">Delapoutite</a>, <a href="https://lorcblog.blogspot.com/">Lorc</a>, Caro Asercion, and Skoll from <a href="https://game-icons.net/">game-icons.net</a> for allowing me to use their icons under <a href="http://creativecommons.org/licenses/by/3.0/">CC by 3.0</a>.</p>