---
layout: default
title: Category
permalink: /categories/
---

<div class='K2-grid coll-3 icon-p-2'>
    <h2> Recipe Categories </h2>
            
    <ul>
    <li>
        <a href='/recipes/' title='All Recipes'><svg style="height: 64px; width: 64px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M0 0h512v512H0z" fill="#000" fill-opacity="1"></path><g class="" transform="translate(0,0)"><path d="M18.906 18.06v369.23C112.4 252.618 269.43 157.82 430.37 133.76L228.42 18.06H18.906zM325.72 179.327C200.38 223.948 86.405 311.052 18.157 422.568v33.602c113.074-111.488 277-176.38 434.373-175.25L325.72 179.326zm25.56 128.682c-125.218 21.642-246.974 83.6-333.124 174.812v10.297h58.916c113.9-65.58 251.166-95.325 379.492-80.814L351.28 308.008zm-2.253 120.96c-80.122 5.884-160.432 27.957-232.61 64.15h266.42l-33.81-64.15z" fill="#fff" fill-opacity="1"></path></g></svg>
        <span>All Recipes</span></a>
    </li>
    
    <li>
        <a href='/recipes/appetizers/' title='Appetizers'><svg style="height: 64px; width: 64px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M0 0h512v512H0z" fill="#000" fill-opacity="1"></path><g class="" transform="translate(0,0)"><path d="m429.7 55.3-42.8 64.8 4.9 16.9c33.7-25.9 41.1-58.8 41.7-80.6-.8-2.44-2.2-2.48-3.8-1.1zm-51.8 78.5-86.3 130.7c9.9-2.6 20.7-5 31.8-6.5l66.6-81.8c-4-14.1-8.1-28.3-12.1-42.4zM249 202.2c-24.1.1-51.3 4.4-76.4 17.8l4.6 20.5 51.2 18.6-1.1 20.7c5.9.5 12.1.8 18.4.8 4.7-2.1 14.4-6.2 27.2-10.4l39.3-59.6c-12.3-3.3-35.8-8.6-63.2-8.4zm46.9 16.7c-48.4 18.2-102.1 4.2-102.1 4.2 33.3-9.9 67.3-13.5 102.1-4.2zm65 30.4c-7.4 8.1-12.8 16.7-15.8 24.5.9-.4 1.9-.8 2.9-1.3 16.3-7 32.5-9.2 44.1-7.2l1.2.3c6.5-8.8 10.6-17.7 11.8-25.2 2.9-31.4-38.8 3.2-44.2 8.9zm-218.1-8c-6.2.4-35 3.5-53.04 21.4l3.01 13.9 36.23-8.8c2.3-.6 4.8.2 6.3 2.1l11.5 14.2 24.1-5.9c2.3-.5 4.8.3 6.3 2.2l10.9 13.5c15.4-3.2 0 0 26.3-5.4l1-20.8zm273.2 7.3c-2 6.9-5.8 14.5-11 22 2.8 2.1 4.8 4.7 6.1 7.6 1.9 4.4 2 9.5.2 14.8 2.8-1.7 5.6-3.6 8.3-5.7 11.9-9 20.5-19.7 23.8-29 5.9-20.9-17.3-14-27.4-9.7zm-82.5 20.6c-33.4 3.2-64.7 15.1-78.3 20.9l3.2 4.2 68.2-9.3c1.1-.9 2.3-1.8 3.5-2.6.6-4.6 2-9.5 3.4-13.2zm48.5 7.9c-8.6.1-18.7 2.5-29.1 6.9-13.7 5.9-24.6 14.3-30 22.5-2.5 3.9-4 7.7-2.6 10.8 1.4 3.2 5.1 4.7 9.7 5.6 9.7 1.7 23.2-.5 36.9-6.4 13.8-5.9 24.7-14.3 30-22.5 2.6-3.9 4.1-7.7 2.7-10.8-1.4-3.2-5.1-4.7-9.7-5.6-2.4-.4-5.1-.6-7.9-.5zm-253.9 3.7L82.28 292l29.62 36.9 14.1-4.2-17.7-22c-2.4-4-.8-8.9 3.4-10l21.6-5.3zm326.5.9c-55.7 57.4-118.7 54.2-118.7 54.2-2.9 0-5.6-.3-8.1-.7-9.5-1.7-16.2-6.4-19-12.9-2.8-6.5-1.6-14.6 3.7-22.7l.1-.1-56.2 7.6c-6-.2-8.2-5.6-11.6-10.1-7.5 0-14.8-.4-21.5-1l32.1 39.9c2.5 3.9.9 8.6-3.1 9.9l-57 17.3c-2.4.7-5.1-.1-6.7-2.1l-12.3-15.3-22.9 6.9c-2.4.7-5.1-.1-6.7-2.1l-12.3-15.3-22.9 6.9c-2.5.7-5.1-.1-6.7-2.1l-23.32-29-44.12 12.3c-10.86 3.4-8.18 17.7.96 20.3L80.14 354c29.36 9-27.27 10-44.59 23.7-7.53 13.3 2.71 26.7 11.65 30.3 49.15 19 88.5-42.5 148.2-25.1 8.6 1.9 46 11.3 62.8 15.5 6.5 1.6 13.3 1 19.4-1.7 36.7-16.3 169.7-75.3 201.2-89.3 9.9-4 13.4-20.2 1.2-22.2zM170 291.3l-45.8 11.2 29.6 36.9 14.1-4.3-17.7-21.9c-2.4-4-.8-8.9 3.4-10l21.7-5.3zm41.9 10.5L166.1 313l29.6 36.9 44.1-13.4z" fill="#fff" fill-opacity="1"></path></g></svg>
        <span>Appetizers</span></a>
    </li>

    <li>
        <a href='/recipes/mains/' title='Mains'><svg style="height: 64px; width: 64px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M0 0h512v512H0z" fill="#000" fill-opacity="1"></path><g class="" transform="translate(0,0)"><path d="M294.818 43.27c-.957.003-1.917.014-2.88.035-46.15.993-96.56 23.687-128.614 54.82-41.965 40.758-91.926 108.163-118.896 173.047-13.486 32.442-21.17 64.22-19.93 91.305 1.24 27.085 10.723 49.188 32.54 65.546 15.71 11.78 28.638 10.986 44.814 2.72 16.175-8.268 34.067-25.324 52.433-45.405 36.732-40.162 74.766-92.452 121.008-107.932 61.794-20.685 98.278-34.43 120.926-46.785 22.646-12.353 31.392-22.466 40.74-39.08 7.302-12.974 8.365-26.067 5.03-39.882-3.334-13.814-11.388-28.167-22.45-41.62-22.127-26.903-56.253-49.946-83.706-60.003-12.75-4.67-26.652-6.79-41.016-6.764zm3.418 24.26c21.21-.103 42.145 4.338 58.493 16.677 47.554 35.895 86.454 58.96 54.377 111.88-32.076 52.923-177.004 58.17-217.56 20.06-1.663-10.596-12.613-91.45 10.176-121.653 12.52-10.007 54.02-26.77 94.513-26.965zm-119.87 43.66c-1.058 1.99-7.086 83.113-10.403 98.937-19.397 9.728-71.78 21.074-73.92 6.977 3.618-16.654 37.1-71.993 84.324-105.915zm278.095 26.248c1.196 3.294 2.213 6.627 3.026 9.996 4.2 17.4 2.736 35.916-6.84 52.933-10.34 18.374-23.007 32.528-47.808 46.057-24.8 13.53-61.8 27.285-123.832 48.05-36.878 12.346-75.83 61.892-113.438 103.012-18.804 20.56-37.417 39.008-57.525 49.285-5.895 3.014-12.05 5.204-18.322 6.418 3.03 1.73 6.143 3.338 9.165 4.728 8.116 3.734 16.547 5.668 17.197 5.686 14.037-.65 29.08-8.326 44.816-21.024 15.82-12.764 32.063-30.284 48.493-48.676 32.86-36.784 65.744-77.523 104.444-90.478 61.817-20.694 98.67-34.278 121.465-46.543 22.794-12.264 31.4-22.235 40.044-39.028 9.733-18.912 10.244-32.256 4.506-46.28-4.33-10.583-12.968-21.73-25.39-34.135zm-314.546 95.466c33.96-.19 69.09 16.75 104.688 36.092-71.258 37.318-141.89 180.326-187.133 133.99-18.206-20.105-19.433-119.77 30.147-153.564 17.043-11.616 34.51-16.418 52.297-16.518zm-36.463 73.213c-5.436.103-10.92 1.77-14.74 4.787-12.34 9.753-21.72 34.145-11.206 45.844 10.057 11.19 35.46 5.816 44.728-6.012 8.262-10.544 5.69-31.088-4.32-40.02-3.632-3.24-9.023-4.7-14.46-4.6z" fill="#fff" fill-opacity="1"></path></g></svg>
        <span>Mains</span></a>
    </li>
    
    <li>
        <a href='/recipes/sides/' title='Sides'><svg style="height: 64px; width: 64px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M0 0h512v512H0z" fill="#000" fill-opacity="1"></path><g class="" transform="translate(0,0)"><path d="M228.063 16.72a9 9 0 0 0-2.47.5c-16.076 5.625-27.55 10.77-36.155 21.81-6.477 8.313-10.984 18.854-16.063 34.407-11.313-12.292-26.732-22.486-43.875-30.812-23.817-11.568-51.083-19.46-76.156-22.78a9 9 0 0 0-6.282 16.343c21.685 14.934 40.525 29.268 53.407 43.687 9.964 11.155 16.21 22.01 18.436 33.53-32.89-3.705-62.75 3.47-99.406 23.25a9 9 0 0 0 5.125 16.907c34.352-3.265 69.484-3.808 96.563.625 13.54 2.217 25.007 5.723 33.218 10.25 3.168 1.747 5.82 3.57 8 5.532 5.365-8.13 12.033-15.638 19.438-22.22 13.09-11.637 28.792-20.638 45.03-24.094-11.326-18.24-14.138-30.23-12.843-41.5 1.588-13.813 10.567-28.893 22.564-52.344a9 9 0 0 0-8.53-13.093zm13.906 123.436c-.527-.003-1.062.016-1.595.03-14.925.428-32.515 8.518-46.594 21.033-16.088 14.3-26.977 33.817-26.78 50 .39 32.175 18.688 67.77 47.344 102.124 28.655 34.354 67.3 67.31 106.375 94.72 39.073 27.406 78.66 49.316 108.78 61.936 15.06 6.31 27.857 10.275 36.313 11.5 3.958.574 6.797.448 8.187.188.065-.798.153-1.837.063-3.22-.205-3.113-.814-7.504-1.844-12.75-2.06-10.49-5.772-24.554-10.97-40.812-10.397-32.516-26.75-73.9-47.688-114.937-13.56-26.58-29.085-53.016-46.093-76.814-14.193 17.317-12.034 17.985-49.72 36.72l-7.125-14.313c39.43-19.6 30.222-15.247 47.063-35.594-6.235-8.066-12.65-15.74-19.22-22.907-3.278-3.578-6.59-7.04-9.937-10.344-24.116 33.382-44.493 41.374-76.436 55.124l-7.125-16.53c32.963-14.19 47.585-18.322 70.218-50.814-21.94-18.66-45.057-30.964-68.594-34.03-1.505-.197-3.047-.304-4.625-.314z" fill="#fff" fill-opacity="1"></path></g></svg><span>Sides</span></a>
    </li>

    <li>
        <a href='/recipes/sauces-and-condiments/' title='Sauces and Salsas'><svg style="height: 64px; width: 64px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M0 0h512v512H0z" fill="#000" fill-opacity="1"></path><g class="" style="" transform="translate(0,0)"><path d="M269.9 22.69l-13.3 44.02 45.6 13.72 90.5 27.17 13.2-44.01-136-40.9zm-3.1 65.9l-26.7 88.61-5.5 1s-16.9 2.9-34.8 9.5c-8.9 3.3-18 7.5-24.9 12.2-7 4.8-11.4 10.1-12.9 14.9l-59.9 199.1c-.6 1.9-.1 4.7 4.2 9.8 4.4 5.1 12.2 11.2 22.3 17.3 20.3 12 49.6 24 79.7 33 30.1 9.1 61.2 15.3 84.7 16.4 11.8.6 21.7-.2 28.1-2.1 6.5-1.8 8.4-3.9 9-5.8L390 283.3c1.4-4.8.6-11.6-2.6-19.4-3.1-7.9-8.4-16.4-14-24-11.3-15.3-23.9-27.1-23.9-27.1l-4-3.9 26.6-88.7-105.3-31.61zm37.7 27.61h1.3c3.1 0 6.2.5 9.4 1.5 22.8 6.8 32.6 33.8 25.1 58.7-7.5 24.9-30.7 41.9-53.4 35.1-22.7-6.8-32.6-33.8-25.1-58.7 6.3-21 23.7-36.4 42.7-36.6zm1.2 18c-10.3-.2-22.1 8.5-26.7 23.8-5.2 17.4 2 32.9 13.1 36.3 11.1 3.3 25.7-5.7 31-23.1 5.2-17.4-2-32.9-13.1-36.3-1.4-.4-2.9-.6-4.3-.7zm-74.3 94.4c1.2 0 2.4 0 3.6.1 14.3.5 29.7 3.4 44.7 7.9 20.1 6 39.1 14.9 53.1 26 7 5.6 12.8 11.7 16.5 18.9 3.8 7.1 5.2 15.6 2.7 23.8l-.1.4-64.7 156.6L149 420.8l32.4-165.9.1-.5.1-.4c2.4-8.1 8.3-14.4 15.3-18.4 7.1-3.9 15.3-5.8 24.2-6.6 3.4-.3 6.8-.4 10.3-.4zm-.1 18c-3 0-5.9.1-8.6.3-7.2.7-13.1 2.3-17 4.5-3.9 2.1-5.8 4.4-6.8 7.6l-13.3 68.2c6.1-7.1 14.1-12.9 22.7-17.3 11.9-6.1 25.3-9.7 38.1-9.7.8 0 1.6 0 2.4.1-.3-5.5-1-10.8-2.2-14.9l17.2-5c2.2 7.5 3 15.7 3.3 23.2 11.1 4.1 21.5 11.7 29.6 21.1 7.8 9 13.9 20 14.7 31.8l23.4-56.6c.9-3.3.6-6.2-1.4-10.1-2.1-4-6.1-8.6-11.8-13.1-11.3-9-28.8-17.4-47-22.9-13.8-4.1-28-6.6-40.3-7.1-1-.1-2-.1-3-.1zm13 71.8c-9 .4-19.1 3.1-27.9 7.5-12.6 6.4-21.8 16.2-23.9 26.1-1.5 7.8 2.4 18.1 10.1 26.9 7.7 8.9 18.9 15.8 27.7 17.5 10.9 2.1 26.3-.5 39-7 12.6-6.4 21.8-16.2 23.9-26.2 1.5-7.7-2.3-17.9-10-26.8-4.9-5.6-11.1-10.4-17.3-13.6.4.9.9 2 1.7 3.2 2.3 3.7 6.5 8.2 10 14.3l-15.6 9c-2.1-3.6-6-7.9-9.6-13.6-4.7 4.3-9.8 8.4-15.5 12.4l-10.2-14.8c6.7-4.7 12.4-9.7 17.6-14.9zM177 371.2l-7.2 37 107 32.1 20.1-48.8c-5.6 5.7-12.3 10.3-19.5 14-15.8 8-34.3 11.7-50.5 8.5-14.3-2.7-27.8-11.6-37.9-23.3-5.1-5.8-9.3-12.4-12-19.5z" fill="#fff" fill-opacity="1"></path></g></svg>
        <span>Sauces and Condiments</span></a>
    </li>
            
    <li>
        <a href='/recipes/seasonings-and-marinades/' title='Seasonings and Marinades'><svg style="height: 64px; width: 64px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M0 0h512v512H0z" fill="#000" fill-opacity="1"></path><g class="" transform="translate(0,0)"><path d="M260.28 71.406c-12.493.18-23.276 7.03-35.31 16.313C160.78 137.22 81.93 205.86 59.874 254c-8.294-11.01-37.188-8.578-37.188 6.656 0 13.07 20.105 16.687 31.594 11.094-.615 4.334-.52 8.38.345 12.125-6.367 1.883-11.28 5.995-11.28 12.28 0 13.762 22.29 17.075 33.343 10.158 5.03 2.766 10.308 5.383 15.812 7.812-.82 1.512-1.25 3.237-1.25 5.156 0 11.616 15.868 15.766 27.47 12.626-.146.71-.22 1.472-.22 2.25 0 18.294 39.406 18.13 39.406 0 0-.147-.026-.293-.03-.437 14.275 2.734 29.115 4.778 44.28 6.155 3.003 14.32 32.657 14.91 38.25 2.063 15.032.29 30.163 0 45.156-.875-.136.693-.25 1.43-.25 2.187 0 14.17 23.653 17.252 34.313 9.5 11.71 17.38 56 14.1 56-9.375 0-2.304-.407-4.408-1.188-6.313 9.565 4.504 22.57 5.225 33.25 2.157 2.438 16.508 39.282 15.748 39.282-1.783 0-9.43-10.643-13.827-20.876-13.406.577-1.795.906-3.732.906-5.81 0-1.85-.26-3.57-.72-5.19 5.083-1.994 9.978-4.1 14.658-6.28 12.24-5.705 17.59-14.928 17.687-26.563 11.533 5.37 31.313 1.566 31.313-11.28 0-14.457-25.064-17.168-35.22-8.657-18.55-51.64-99.242-128.954-160.78-175.188-13.177-9.9-23.94-13.796-33.657-13.656zM479.314 302.5c-9.854.043-19.72 4.577-19.72 13.47 0 18.293 39.407 18.13 39.407 0 0-9.066-9.834-13.513-19.688-13.47zM34.97 314.063c-9.854.043-19.72 4.576-19.72 13.468 0 18.296 39.406 18.13 39.406 0 0-9.064-9.834-13.51-19.687-13.467zM80.374 342.5c-10.71.047-21.43 4.817-22.156 14.156-10.41-.53-21.5 3.978-21.5 13.406 0 17.342 35.404 18.098 39.093 2.688 12.385 1.59 26.75-3.445 26.75-15.063 0-10.204-11.096-15.236-22.188-15.187zm89.22 10.406c-6.657.03-13.32 2.1-16.94 6.188-13.492-2.84-30.874 2.275-30.874 15.094 0 19.417 37.687 21.175 45.157 5.718 10.654.872 22.344-3.65 22.344-13.53 0-9.066-9.833-13.513-19.686-13.47zm89.186 1.625c-9.852.044-19.717 4.578-19.717 13.47 0 18.294 39.437 18.13 39.437 0 0-9.065-9.866-13.512-19.72-13.47zm210.626 6.064c-12.95.056-25.906 6.03-25.906 17.72 0 24.043 51.78 23.826 51.78-.002 0-11.913-12.923-17.775-25.874-17.718zm-75.187 7.125c-9.854.042-19.72 4.575-19.72 13.467 0 18.295 39.438 18.13 39.438 0 0-9.064-9.866-13.51-19.72-13.468zm-181.283 13.75c-11.298.048-22.593 5.24-22.593 15.436 0 12.487 16.006 17.455 28.97 15.063 6.844 18.704 50.905 16.82 50.905-5.158 0-15.218-21.107-20.517-36.376-16.28-3.558-6.105-12.228-9.1-20.906-9.063zm121.844 6.936c-6.21.027-12.443 1.842-16.186 5.406-11.597-4.94-30.78-1.042-30.78 11.375-.002 14.898 26.137 17.537 35.842 8.22 11.597 5.024 30.813 1.126 30.813-11.532 0-9.065-9.836-13.512-19.69-13.47zM94.44 390.97c-11.3.048-22.626 5.24-22.626 15.436 0 20.978 45.22 20.79 45.22 0 0-10.394-11.296-15.487-22.594-15.437zM429.5 404.81c-11.092.05-22.188 5.146-22.188 15.157 0 20.594 44.375 20.41 44.375 0 0-10.206-11.095-15.206-22.187-15.158zm-270.656 1.844c-11.3.05-22.594 5.24-22.594 15.438 0 20.978 45.188 20.79 45.188 0 0-10.395-11.296-15.487-22.594-15.438z" fill="#fff" fill-opacity="1"></path></g></svg>
        <span>Seasonings and Marinades</span></a>
    </li>
    
    <li>
        <a href='/recipes/desserts/' title='Desserts'><svg style="height: 64px; width: 64px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M0 0h512v512H0z" fill="#000" fill-opacity="1"></path><g class="" transform="translate(0,0)"><path d="M256.03 76.47c-12.332-.298-23.413 6.18-23.06 22.468L18.655 273l.282 6.938v178.998l11.468-2.686 155.906-36.563 5.438 17.688 29.72-3.344-3.407-21.81 69.312-16.25 8.844 10.25 21.842 1.624-.937-18.844 121.938-28.625v.03c1.36-.2 2.667-.52 3.937-.936.022-.01.04-.025.063-.033l20.812-4.875 7.22-1.687v-7.188l18.53-147.406c8.89-17.113-6.495-46.453-38.72-40.124 4.752-19.91-38.983-28.136-52.03-17.25 3.263-18.202-37.385-41.715-51.906-21.187 4.632-22.758-46.006-40.867-58.845-20.345-2.41-13.453-18.07-22.568-32.094-22.906zm-10.28 39.655c2.336 2.81 7.442 5.542 13.406 6.844 5.964 1.3 12.622 1.13 16.375.155l8.94-2.313 2.436 8.938c2.21 8.203 6.852 11.33 14.438 12.97 7.586 1.64 17.768.34 25.844-2.876l10.375-4.156 2.25 10.937c1 4.886 7.39 11.092 16.343 14.313 8.954 3.22 19.15 2.73 23.53 0l11.283-7.032 2.78 13c1.227 5.752 4.534 9.73 9.656 12.594 5.123 2.864 12.08 4.212 19.063 3.375l2.25 18.563c-10.635 1.274-21.384-.563-30.44-5.625-6.057-3.388-11.185-8.528-14.75-14.844-9.637 2.4-20.165.986-29.686-2.44-9.78-3.517-19.263-9.534-24.594-18.468-8.934 2.288-18.56 2.914-27.844.907-10.046-2.173-19.796-8.438-25.312-18.532-5.44.405-11.155.037-16.906-1.22-8.71-1.9-17.57-5.648-23.813-13.155l14.375-11.938zM434.78 232.28l.095.345c1.64-.385 1.946-.3 3.656 1.094 1.712 1.39 4.14 4.616 6.22 9.343 4.058 9.22 6.91 23.626 7.656 38.5v16c-.504 10.182-1.96 19.874-4.312 27.53-1.743 5.672-3.982 10.19-6.156 12.938-1.516 1.917-2.777 2.92-4 3.44L37.625 435.374V307.312c132.618-34.5 265.01-62.72 397.156-75.03zm-72.25 177.095l-26.436 3.063 14.562 21.312 24.97-4.438-13.095-19.937zm-62.78 25.03l-32 5.22 11.156 12.938 21.875 1.625-1.03-19.782zm-157.25 29.5l-1.625 14.908 22.47 2.937 8.436-15.313-29.28-2.53zm107.406 4.72l-24.312 3.156 1.75 16.158 31.687-2.75-9.124-16.563z" fill="#fff" fill-opacity="1"></path></g></svg>
        <span>Desserts</span></a>
    </li>

    <li>
        <a href='/recipes/breads/' title='Breads'><svg style="height: 64px; width: 64px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M0 0h512v512H0z" fill="#000" fill-opacity="1"></path><g class="" transform="translate(0,0)"><path d="M439.037 70.988c-.863.015-1.87.09-3.025.256-4.62.668-11.12 2.598-18.8 5.764-15.356 6.332-35.49 17.488-58.085 32.056-10.66 6.874-21.892 14.53-33.48 22.78 10.542 1.434 21.866 4.025 32.61 7.295 13.316 4.05 25.552 8.98 34.42 14.663 4.432 2.842 8.204 5.667 10.84 10.35 1.316 2.34 2.297 5.443 1.917 8.794-.38 3.352-2.178 6.43-4.3 8.51-8.985 8.797-21.99 10.87-35.734 10.88-13.745.01-28.705-2.57-42.283-6.702-13.578-4.132-25.66-9.55-34.033-16.967-1.918-1.698-3.696-3.562-5.182-5.647-12.937 10.092-26.03 20.69-39.058 31.636 13.723 1.595 30.11 5.017 45.906 9.217 15.972 4.247 31.2 9.237 42.393 14.174 5.595 2.468 10.117 4.77 13.834 7.762 1.858 1.494 3.706 3.09 5.08 6.24 1.373 3.147.824 8.837-1.67 11.794l-.063.074-.064.072c-9.658 10.965-24.988 14.673-41.48 15.645-16.493.97-34.706-1.22-51.31-5.46-16.602-4.24-31.486-10.272-41.71-18.745-3.056-2.533-5.797-5.367-7.832-8.655-11.588 10.454-22.92 21.07-33.858 31.705 3.804.238 7.784.764 11.934 1.514 13.726 2.48 29.222 7.414 43.584 13.4 14.362 5.984 27.44 12.87 36.582 20.155 4.57 3.642 8.357 7.21 10.637 12.444 1.14 2.617 1.822 5.92 1.12 9.33-.705 3.412-2.815 6.448-5.245 8.46-10.528 8.725-25.07 9.825-40.282 8.405-15.21-1.42-31.55-5.902-46.17-11.995-14.62-6.092-27.44-13.526-35.783-22.62-2.49-2.712-4.678-5.668-6.158-8.98-12.3 12.98-23.7 25.79-33.927 38.192 2.974 1.324 6.326 2.778 10.225 4.416 10.34 4.345 23.245 9.548 35.516 14.53 12.27 4.98 23.877 9.728 31.904 13.294 4.013 1.784 6.97 3.142 9.402 4.598.608.364 1.188.723 1.944 1.328.755.605 2.044.798 3.318 4.643.637 1.922.535 5.66-1.16 8.107-1.435 2.072-2.972 2.808-4.147 3.244-9.86 8.365-23.137 10.813-36.383 10.158-14.2-.7-28.93-4.89-41.896-10.94-12.967-6.05-24.194-13.735-31.11-23.372-.09-.125-.173-.257-.26-.383-1.19 1.71-2.36 3.41-3.484 5.092-13.493 20.18-22.052 38.325-24.396 51.848-2.266 13.074-.056 20.56 8.332 26.537 27.173 9.512 68.542-3.463 113.99-32.473 46-29.36 95.61-73.934 139.207-121.496 43.6-47.562 81.272-98.21 103.74-139.24 11.235-20.515 18.607-38.696 21.18-52.12 1.287-6.714 1.34-12.173.547-15.96-.76-3.624-2.037-5.587-4.006-7.15-.15-.068-.588-.24-1.63-.362-.577-.067-1.296-.112-2.16-.098zM309.3 148.638c-2.248.014-4.24.143-5.882.378-.615.087-1.15.2-1.645.318-1.166.877-2.333 1.76-3.503 2.646.392.687 1.174 1.82 2.746 3.213 4.83 4.278 15.34 9.57 27.34 13.223 12.003 3.652 25.61 5.93 37.03 5.922 8.56-.006 15.623-1.592 19.878-3.613-.705-.58-1.298-1.125-2.3-1.768-6.332-4.058-17.682-8.866-29.946-12.598-12.265-3.733-25.61-6.527-36.29-7.42-2.672-.22-5.178-.32-7.427-.303zm-79.116 63.08c-1.102.005-2.105.042-2.996.108-1.53.114-2.527.43-3.11.625l-1.197 1.05c-.515.858-.555 1.393-.413 2.023.225 1 1.515 3.343 4.78 6.047 6.526 5.41 19.736 11.35 34.677 15.166 14.94 3.816 31.724 5.76 45.797 4.93 9.23-.544 16.816-2.534 22.28-5.12-1.302-.668-2.52-1.323-4.12-2.03-9.73-4.29-24.446-9.178-39.755-13.248-15.31-4.07-31.336-7.372-43.785-8.788-3.113-.353-6.01-.583-8.574-.69-1.283-.055-2.48-.08-3.582-.073zm-60.93 64.622c-.52.004-1.02.02-1.496.043-3.812.194-5.854 1.242-5.852 1.24-2.023 1.676-1.628 1.627-1.578 2.225.05.597.81 2.758 3.38 5.558 5.14 5.6 16.37 12.726 29.444 18.174 13.074 5.448 28.073 9.49 40.92 10.688 10.977 1.024 19.784-.492 24.715-3.026-.896-1.007-2.168-2.29-3.834-3.617-6.77-5.395-18.957-12.064-32.29-17.62-13.33-5.555-27.958-10.148-39.86-12.298-5.208-.94-9.903-1.398-13.55-1.367zm-68.772 65.744c.314 1.124.86 2.463 2.116 4.21 3.898 5.432 13.047 12.403 24.097 17.56 11.05 5.156 23.983 8.722 35.176 9.275 4.2.206 7.93-.144 11.382-.755-7.07-3.01-14.585-6.175-23.92-9.965-12.24-4.97-25.176-10.182-35.717-14.61-5.057-2.126-9.463-4.037-13.133-5.716zm92.657 21.596c-.023 0-.1.026-.122.027l.625.033c-.062-.003-.165-.072-.504-.06z" fill="#fff" fill-opacity="1"></path></g></svg>
        <span>Breads</span></a>
    </li>

    <li>
        <a href='/recipes/salads/' title='Salads'><svg style="height: 64px; width: 64px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M0 0h512v512H0z" fill="#000" fill-opacity="1"></path><g class="" style="" transform="translate(0,0)"><path d="M279.1 64.09c7.2-9.8 15.9-16.5 25.3-19.8 16.9-5.9 36.5-1.5 54.5 16.1 10.7-11.7 22.9-18 35.2-20.2 34.6-6.5 69.9 20.1 75.3 53 2.9 18.11-2.7 38.41-22.9 55.91 19.7 22.9 24 41.4 20.5 56-2.4 10.1-8.8 18.8-17.6 26 9 20.7 3.8 37.2-11.5 50-12.2 10.2-32 17.9-57 23.1-.8 14.1-4.6 24.7-10.2 32.8-9.7 14.3-25.1 21-41.3 24.4-14.6 3.5-28.3 2.7-42.5 6-44.1 10.9-61.7 34.4-77.3 55.4-13.3 18-25.5 34-47.7 43-9.1 4-20.1 6-33.6 7 18.2-7 33.2-20 47.3-39 6.5-8 12.9-18 19.7-30 14.9-24.5 39.1-42.4 67.2-49.5 22.5-6.1 42.1-4.7 63.5-9.2 12-2.5 23.8-6.9 31-17.5 3.2-4.7 5.5-10.5 6.6-17.8-6.3 3-14 5.3-22.9 7.5-41.6 10-110.1 13.9-151.7 73.3-17.6 25.9-40.1 59.5-66.3 70.2-6 2-12.4 4-19.5 4 22.5-10 30.4-25 30.4-25s-21.9 28-78.65 19c-6.78-25.3-3.87-61.5 17.61-80 0 0-16.56 9-27.5 35-1.16-16 1.65-29.7 7.66-41.2C75.6 340.2 102 328 133.7 311.5c28.7-18.6 42.3-45.1 50.3-71.2 7-22.7 10-45.3 14.6-63 2.1-8.2 4.7-15.4 8-21.4-11.1.5-19.5 3.2-25.8 7.7-10.6 7.7-15.1 20.1-17.5 32.7-3.2 15-2.5 31-4.3 45.6-3.5 28.1-20.5 52.7-45.4 66-26.52 15.4-58.39 34.5-71.68 58.4 1.36-7 3.29-13.3 5.66-18.8 9.85-23.2 27.46-36.1 45.64-48.5 15.58-10.6 31.78-20.7 41.48-39.5 9.6-23.4 7.9-43.4 12.2-66.4 3.3-16.8 10-32.8 24.2-43 8.2-5.9 18.9-9.9 33.1-10.8 5.4-25.1 14.8-46.11 26.8-59.51 13.4-15 29.8-21.3 48.1-15.7zM223.7 336.4c38.8-23 82.5-28 113.1-35.3 10.3-3.2 26.7-5.8 30.4-16.4 2.1-6.3 0-14.8-6-26.9l-4.6-9.1 9.9-2.6c13.8-3.6 39.9-9.2 60.2-20 11.6-6.2 21.5-13.9 24.1-24.9 3-12.3-3.3-27.3-22.5-47.3l-6.7-6.9 7.9-5.6c19.4-14 25.9-30.5 23.4-45.51-4-24.4-30.2-44.1-55.8-39.4-11.1 2.1-22 8.8-31 21.5l-6.3 8.8-6.9-8.3c-14.1-16.9-29.4-23.2-43-18.5-8.1 2.9-15.2 9.5-20.8 19.2-9.4 16.4-14.3 41.11-11.8 72.71l1.1 14-12.8-5.7c-17.7-7.9-28.9-9.7-36.6-5.2-7.7 4.4-11.1 14.3-14.3 26.5-4.7 17.9-7.7 40.7-14.8 63.7-4.2 13.8-9.9 27.6-18 40.6 22.4-12.7 52.8-28.5 61.9-54.3 6.2-18.3 0-33.2 0-33.2l15.3-6.6s8.3 18.9 1.3 42.5c22.2-17.7 38.6-31.5 57.4-49.9 5.1-5.9 8.8-12.3 11.1-19.6 4.2-13.8 2.8-30.2-5.1-51.1l15.6-5.9c7.9 21 9.9 38.4 7.4 53.3 21.3-19.8 44.9-44.5 54.1-63.51l15 7.21c-12.3 25.6-49 60.7-73.9 82.8 22.8-4.8 41-2 41-2l-2.6 16.5c-67.3 6.9-84.2 25.9-124.9 82 34.5-20.2 62.9-13.9 62.9-13.9l-3.3 16.3s-48.3-9-91.4 50zm210.8-95.6c-17.5 9.4-39 15.1-54.3 19 4.2 10.9 5.1 19.7 3.7 26.7 14.4-3.4 26.6-7.7 36-13.1 7.6-4.5 13.1-9.6 15.6-15.8.8-2.5 3-9.8-1-16.8zm-164-161.51c-10.2-1.6-19.4 3-27.1 11.6-10 11.21-17.6 28.61-22.3 49.41 8.9-5 21.3-6 38.9-.2-.4-24.8 3.6-45.31 10.5-60.81z" fill="#fff" fill-opacity="1"></path></g></svg>
        <span>Salads</span></a>
    </li>

    <li>
        <a href='/recipes/beverages/' title='Beverages'><svg style="height: 64px; width: 64px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M0 0h512v512H0z" fill="#000" fill-opacity="1"></path><g class="" transform="translate(0,0)"><path d="M256.53 27.375c-48.39 0-92.187 5.807-124.655 15.53-16.234 4.863-29.648 10.643-39.688 17.75-10.04 7.11-17.5 16.403-17.5 27.75 0 1.172.097 2.312.25 3.44h-.187l1 10.25 32.875 339.592h.03c.536 9.302 7.122 16.108 15.064 21.22 8.123 5.228 18.688 9.385 31.436 12.937 25.497 7.103 59.68 11.406 97.438 11.406 37.76 0 71.92-4.304 97.437-11.406 12.76-3.55 23.357-7.718 31.5-12.938 7.934-5.085 14.494-11.798 15.158-21.03h.03l39.25-339.595.47-4.093c1.244-3.065 1.937-6.327 1.937-9.78 0-11.35-7.46-20.642-17.5-27.75-10.04-7.11-23.453-12.89-39.688-17.75-32.468-9.725-76.265-15.532-124.656-15.532zm0 18.688c46.88 0 89.348 5.775 119.314 14.75 14.983 4.487 26.83 9.84 34.25 15.093 7.42 5.254 9.594 9.582 9.594 12.5 0 2.918-2.175 7.216-9.594 12.47-7.42 5.252-19.267 10.605-34.25 15.093-29.966 8.973-72.434 14.75-119.313 14.75-46.878 0-89.314-5.777-119.28-14.75-14.983-4.49-26.83-9.842-34.25-15.095-7.42-5.253-9.625-9.55-9.625-12.47 0-2.917 2.206-7.245 9.625-12.5 7.42-5.252 19.267-10.605 34.25-15.093 29.966-8.974 72.402-14.75 119.28-14.75zM96.126 118.75c9.51 5.925 21.563 10.876 35.75 15.125 32.468 9.724 76.265 15.53 124.656 15.53 34.11 0 65.91-2.89 93.095-8l-4 76.25c-25.53-4.724-57.128-7.5-91.344-7.5-68.924 0-127.24 11.32-146.686 26.94L96.124 118.75zm319.03 1.094l-13.624 117.72c-4.28-3.6-10.63-6.96-18.686-10.033l9.187-97.186c8.758-3.123 16.52-6.593 23.126-10.5zm-16.405 141.72l-9.53 82.498c-3.96 9.04-10.745 16.984-19.658 23.813L378.72 271c8.322-2.87 15.116-6.047 20.03-9.438zm-288.78.092c21.506 14.704 78 25.22 144.31 25.22 32.79 0 63.15-2.597 88.095-6.97l-5.5 105.188c-73.98 27.105-197.158 14.24-219.094-42.625l-7.81-80.814z" fill="#fff" fill-opacity="1"></path></g></svg>
        <span>Beverages</span></a>
    </li>

    <li>
        <a href='/recipes/beef/' title='Beef'><svg style="height: 64px; width: 64px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M0 0h512v512H0z" fill="#000" fill-opacity="1"></path><g class="" transform="translate(0,0)"><path d="M468.958 108.958c-27.507 2.08-48.997 7.94-71.375 22.572-5.333-2.214-12.62-17.738-16-16-11.82 6.08-14.892 19.555-4.916 32.817l-59.084 9.916c-24.776 3.341-49.567 4.838-74.187 5.334 1.326 3.832 2.96 7.636 4.812 10.05 5.219 6.802 20.323 6.21 21.07 14.75 1.935 22.098-24.876 47.415-47.056 47.057-15.401-.248-17.017-28.762-31.604-33.713-19.097-6.482-41.62 18.77-59.699 9.832-15.267-7.547-24.992-39.8-27.836-50.41-10.213-.127-20.327-.142-30.316.035-12.564.366-22.902 5.645-29.408 14.239-8.676 11.458-11.652 26.658-13.254 42.925-1.78 18.057 6.147 53.007 5.517 70.282-.504 13.85-7.493 11.87-11.912 18.888-13.52 21.47 8.894 20.83 17.014 5.56 12.482-23.473 4.253-63.11 7.195-92.974 1.855-35.76 10.597-23.937 15.664-24.588-4.2 13.065-6.21 30.962-7 51.334 6.895-2.342 36.498-11.6 42.73-.174 6.872 12.598-27.802 22.016-23.878 35.819 2.464 8.666 22.95 2.378 24.582 11.238 3.322 18.035-32.13 38.713-42.236 44.209.812 23.329 1.564 45.567 1.238 65.086H88.91c-4.234-16.543-12.038-49.944-4.06-55.084 21.425-18.091 29.836-37.484 42.732-56.428 8.755 2.556 16.92 4.787 24.782 6.672 3.553.972 7.244 1.771 10.984 2.44 24.859 4.967 61.553 5.678 90.783-.172 3.76 34.12 7.263 68.452 4.602 102.572h28.957c-12.375-26.902-4.263-65.044 13.892-86.27l44.934-33.462c24.881-16.384 42.93-37.996 55.982-63.38 30.402 3.413 57.086 3.29 77.192-.786l12.84-19.55c-24.257-17.857-43.3-36.585-62.948-58.13 10.063-14.533 25.027-22.765 39.375-32.506zm-39.375 54.572a8 8 0 1 1 0 16 8 8 0 0 1 0-16zM366.2 183.481c5.029 9.822-26.17 10.808-24.933 21.772.998 8.847 22.204 3.839 23.53 12.643 3.818 25.373-28.44 53.805-54.08 54.78-14.262.544-34.902-14.06-32.308-28.093 2.605-14.092 34.551-1.657 40.383-14.748 4.724-10.603-18.352-22.01-12.992-32.307 6.264-12.032 30.364-22.553 41.934-22.646 11.57-.093 15.606 3.347 18.466 8.6zm-26.585 126.346l-34.707 23.96 6.464 69.255h34.414c-11.783-22.454-15.58-55.506-6.171-93.215zm-204.561 1.41c-6.047 12.184-14.147 21.97-22.174 31.242 5.97 3.235 11.648 5.414 17.154 6.614 11.218 2.443 21.636.333 29.948-4.408 10.056-5.737 17.521-14.452 24.115-23.368-14.615-.869-32.96-2.962-49.043-10.08zm24.252 52c-8.737 2.585-17.452 3.7-25.566 2.96 5.167 12.624 10.45 24.152 15.824 36.845h28.306c-10.393-18.48-16.148-29.285-18.564-39.805z" fill="#fff" fill-opacity="1"></path></g></svg>
        <span>Beef</span></a>
    </li>

    <li>
        <a href='/recipes/pork/' title='Pork'><svg style="height: 64px; width: 64px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M0 0h512v512H0z" fill="#000" fill-opacity="1"></path><g class="" transform="translate(0,0)"><path d="M213.705 344.935l2.7 53.87h-26.24l-19.46-55.41zm150.56.33l-.34 4.38 18.15 49.16h24.44l-5.66-56.51a326.16 326.16 0 0 1-36.57 2.97zm32.79-164.08a90.06 90.06 0 0 0 13.05-1.12c51.2-7.62 36.49-49.56 36.49-49.56s-40.36 9-52.83 23.42c.02 0-28.12 27.26 3.31 27.26zm81.85-25.33s-6.81 0-15.92.82a47 47 0 0 1-13.28 22.9 116.55 116.55 0 0 1 7.44 14.09c25.25-9.43 21.79-37.81 21.79-37.81zm11.8 100.18v41.49s-53.15 31.9-134.5 31.9c-2.19 0-4.44-.15-6.67-.2l-5.48 69.58h-19l-24.45-66.86-162.59-5.87-9.4 72.73h-22.63s-48.15-101.58-23.18-182.06c-5.55-3.84-11.38-8.17-16.73-12.7-5.13 2.65-10.26 4.11-15 3.85-15.76-.85-28.37-12.73-29.78-14.09l11.16-11.46c2.6 2.5 11.21 9.13 19.48 9.57a7.93 7.93 0 0 0 1.7-.11 46.36 46.36 0 0 1-4.59-6.47c-5.65-9.83-7-20.32-3.84-28.79a25.1 25.1 0 0 1 15.94-14.87c11.29-3.81 26.85-3.35 34.75 4.9 2.94 3.07 7.24 9.84 3 20.7-3.59 9.29-10.85 19.34-19.36 27.12 2.87 2.3 5.94 4.61 9.09 6.87 9.46-20.85 24.84-39.58 48.52-53.76a238.9 238.9 0 0 1 124-34.31 259.14 259.14 0 0 1 120.54 30.12 80.94 80.94 0 0 0-7.77 9.25c-7.6 10.67-9.67 20.49-6.15 29.19 2.85 7 10.23 15.42 29.24 15.42a105 105 0 0 0 15.41-1.3 80.49 80.49 0 0 0 24-7.18c15.75 25.72 17.22 58.67 28 61 12.79 2.72 26.29 6.34 26.29 6.34zm-406.69-94.52c.43-1.12 1.05-3.11.32-3.87-1.32-1.38-4.81-2.26-8.92-2.26a29.18 29.18 0 0 0-9.16 1.42c-3.13 1.05-5.12 2.81-6.09 5.38-1.46 3.95-.46 9.62 2.75 15.19a36.3 36.3 0 0 0 4.79 6.25c6.66-5.82 13.19-14.04 16.31-22.11zm331.14 81.55a9.05 9.05 0 1 0-9.05 9.05 9.05 9.05 0 0 0 9.05-9.05z" fill="#fff" fill-opacity="1"></path></g></svg>
        <span>Pork</span></a>
    </li>

    <li>
        <a href='/recipes/chicken/' title='Chicken'><svg style="height: 64px; width: 64px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M0 0h512v512H0z" fill="#000" fill-opacity="1"></path><g class="" transform="translate(0,0)"><path d="M365.852 31.858c-10.152 2.474-24.915 7.073-37.437 13.602-9.2 4.797-17.277 10.575-21.928 16.19-4.65 5.618-6.05 9.96-4.416 15.587l3.556 12.254-12.736-.76c-3.048-.183-4.944-.117-7.364-.262-2.42-.146-5.405-.706-8.27-1.87-3.86-1.568-9.082-4.65-16.085-8.91-.366 4.63-.58 10.108-.407 16.006.38 12.915 2.02 27.945 4.82 41.17 1.328 6.27 3.007 12.134 4.805 17.13 2.992-4.705 6.264-9.202 9.84-13.368 17.022-19.818 40.47-41.586 69.867-43.697 14.423-1.037 29.333 5.324 42.554 12.41 3.997-7.635 10.257-13.963 16.617-19.67 6.403-5.748 13.146-11.018 18.95-15.97-9.552-6.72-16.81-10.074-23.02-10.855-7.936-.998-16.028 1.45-28.835 8.828l-15.21 8.762 4.7-46.577zm-12.796 80.995a16.57 16.57 0 0 0-1.672.03c-20.817 1.494-41.72 19.098-57.5 37.47-13.842 16.117-23.36 41.13-28.65 61.556 6.866 1.127 14.21 2.21 21.564 2.43 10.95.33 20.46-1.593 25.334-5.83l7.04-6.114 5.862 7.25c4.956 6.128 10.802 14.087 14.32 23.476 1.78 4.75 2.88 10.128 2.698 15.607 12.487-2.64 23.93-7.162 28.884-12.86l5.256-6.043 6.614 4.52c10.006 6.838 19.827 14.582 26.634 25.236 1.033-3.752 1.935-7.666 2.416-11.75 1.503-12.738-.18-25.93-6.636-35.494-10.232-11.257-22.116-22.055-24.93-37.03-1.066-5.675.69-10.02 2.78-14.29 2.092-4.27 4.972-8.467 8.35-12.593 3.803-4.644 8.228-9.1 12.948-13.05-4.015-2.658-8.39-5.55-13.877-8.665-12.77-7.256-28.594-13.592-37.434-13.86zM48.52 128.626c-6.353-.037-9.976.466-9.976 1.576 2.82 12.857 7.998 26.53 15.432 39.48 26.005-3.718 53.01-5.705 80.652-5.488 26.75 8.66 54.68 16.02 80.83 25.338-25.477-4.52-50.737-6.842-75.512-7.3a489.987 489.987 0 0 0-11.82-.073c-28.5.16-56.26 2.772-82.938 7.17 4.785 32.48 20.097 79.06 50.397 120.476 32.95 45.036 82.958 84.022 156.976 94.457 58.185 8.202 107.473-4.926 132.47-31.346 12.5-13.21 19.395-29.548 19.23-49.768-.157-18.958-6.877-41.526-22.327-67.106-1.133-.884-2.3-1.766-3.52-2.654-13.164 10.368-31.666 13.752-47.895 15.322l-18.392 1.78 9.94-15.58c2.974-4.66 2.76-9.265.433-15.474-1.486-3.962-4.016-8.048-6.75-11.992-9.13 4.418-19.634 5.185-29.495 4.887-12.977-.392-25.546-2.913-33.66-4.262l-9.268-1.538 1.936-9.193c2.894-13.746 7.735-30.663 15.19-46.902-46.584-23.24-175.11-41.595-211.933-41.812zm303.762.088c8.852 0 16.186 7.384 16.186 16.213 0 8.83-7.334 16.213-16.186 16.213-8.85 0-16.187-7.384-16.187-16.213 0-8.83 7.336-16.213 16.187-16.213zm73.906 13.47l-1.707.936c-5.958 3.275-13.704 10.08-19.133 16.71-2.715 3.316-4.887 6.612-6.11 9.108-.885 1.807-1.032 3.154-1.13 3.35 1.295 5.8 10.486 16.914 20.966 28.522l.387.427.326.473a54.88 54.88 0 0 1 4.754 8.342c11.47.563 23.966-.753 38.652-3.727l-41.35-30.937s37.437.748 51.126-1.635c4.696-.818-25.494-22.228-46.78-31.57zM160.52 231.076l17.516 4.15c-1.628 6.866-6.334 11.36-11.355 15.008-5.02 3.65-10.874 6.607-17 9.354-5.37 2.408-10.923 4.598-16.195 6.698 17.247 7.16 39.738 12.514 57.944 7.756l8.135-2.127 2.672 7.975c2.102 6.27.8 12.92-1.97 18.097-2.766 5.176-6.815 9.438-11.452 13.343-4.408 3.713-9.428 7.075-14.636 10.11 1.512.4 2.75.78 4.413 1.185 16.154 3.923 39.21 7.99 62.21 9.678 22.997 1.688 46.086.824 61.544-4.053 7.728-2.44 13.347-5.8 16.605-9.553 3.26-3.753 4.8-7.815 4.16-14.64l17.922-1.678c1.02 10.888-2.2 20.873-8.49 28.12-6.29 7.245-15.014 11.835-24.78 14.917-19.536 6.163-44.068 6.615-68.28 4.837-24.213-1.778-47.956-5.964-65.14-10.137-8.59-2.087-15.446-4.112-20.384-6.105-2.47-.997-4.277-1.582-6.817-3.805-1.27-1.112-3.838-3.195-3.59-8.084.122-2.444 1.414-4.847 2.696-6.168 1.28-1.32 2.438-1.895 3.368-2.295 9.76-4.196 20.562-10.17 27.602-16.098a41.493 41.493 0 0 0 3.95-3.828c-28.726 2.026-57.113-10.163-73.773-20.45l-13.646-8.425 14.302-7.258c9.833-4.99 23.145-9.453 34.26-14.44 5.56-2.492 10.508-5.107 13.787-7.49 3.277-2.38 4.37-4.38 4.42-4.597zM132.378 373.31c-9.94 10.178-24.66 20.105-40.18 28.05-6.34-7.936-13.154-15.46-20.445-22.242L59.495 392.3c5.485 5.1 10.75 10.778 15.762 16.814-5.725 2.31-11.364 4.275-16.715 5.793l4.914 17.315c6.655-1.89 13.604-4.25 20.605-7.035-.004 16.89-1.79 35.74-6.532 48.816l16.92 6.14c3.645-10.05 5.755-21.453 6.826-32.9 4.775 8.44 9.016 16.875 12.606 24.934l16.443-7.326c-6.96-15.626-16.04-32.46-26.976-48.42 16.785-8.633 32.574-19.633 43.97-32.488a244.225 244.225 0 0 1-14.94-10.632zm301.435 35.127c-15.158.19-32.163 7.857-49.21 18.494a196.634 196.634 0 0 0-20.456 14.66c-6.71-5.158-13.73-10.692-20.86-16.23a1086.232 1086.232 0 0 0-7.88-6.062c-7.882 1.91-16.138 3.324-24.705 4.232 7.053 4.96 14.317 10.433 21.545 16.047 6.184 4.802 12.332 9.672 18.37 14.354-4.958 5.056-9.45 10.33-13.243 15.735l14.734 10.34c3.507-4.998 7.984-10.123 13.076-15.117 5.09 3.68 10.056 7.083 14.82 9.965l9.317-15.4a143.322 143.322 0 0 1-4.667-2.96c19.407-2.33 39.054-.35 52.653 2.676l3.91-17.57c-10.58-2.356-23.95-4.223-38.416-4.275l-.19.002c13.615-7.218 26.607-11.223 33.21-10.857l1-17.97a44.232 44.232 0 0 0-3.007-.063z" fill="#fff" fill-opacity="1"></path></g></svg>
        <span>Chicken</span></a>
    </li>

    <li>
        <a href='/recipes/seafood/' title='Seafood'><svg style="height: 64px; width: 64px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M0 0h512v512H0z" fill="#000" fill-opacity="1"></path><g class="" transform="translate(0,0)"><path d="M259.844 73.406l1.625 214.47-18.69.155-1.655-214.342C206.358 75.24 172.012 82.588 141 95.78c36.116 61.6 59.493 126.474 75.813 196.5l-18.22 4.25C182.46 227.29 159.504 163.924 124 103.78c-37.016 19.19-67.986 47.49-87.156 84.97 57.884 24.66 105.126 67.86 140.937 118.688l-15.28 10.75c-34.284-48.66-79.092-89.328-133.28-112.344-8.57 22.082-13.345 46.943-13.345 74.594 95.028 17.855 145.516 75.937 151.406 92 3.752 10.228-27.905 21.074-27.905 38.156 0 12.34 25.52 20.537 59.668 24.67-3.846-4.94-7.694-10.374-11.59-16.31l15.625-10.255c9.802 14.937 18.996 25.865 27.354 32.73 8.358 6.864 15.493 9.632 22.423 9.68 13.862.094 31.592-12.316 53.723-42.776l15.12 10.984c-4.31 5.93-8.553 11.385-12.76 16.35 36.362-4.006 64.125-12.375 64.125-25.074 0-17.92-35.487-28.412-33.72-39.97 2.31-15.09 55.528-74.91 156.626-90.187 0-28.807-5.284-54.622-14.72-77.437-57.322 22.41-104.478 64.46-140.22 115.188l-15.28-10.75c37.145-52.72 86.607-97.216 147.47-121.344-20.457-37.87-53.207-66.233-92.064-85.03-36.426 60.947-59.84 125.186-76.22 195.467l-18.186-4.25c16.523-70.893 40.278-136.5 77.156-198.78-32.42-12.835-68.166-19.55-104.062-20.094z" fill="#fff" fill-opacity="1"></path></g></svg>
        <span>Seafood</span></a>
    </li>

    <li>
        <a href='/recipes/mexican/' title='Mexican'><svg style="height: 64px; width: 64px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M0 0h512v512H0z" fill="#000" fill-opacity="1"></path><g class="" transform="translate(0,0)"><path d="M287.9 76.19v.01h-1.1c-1.9.1-5.4 1.68-9.3 5.36-3.9 3.69-8 9.05-11.5 14.52C258.9 107 254.2 118 254.2 118l-5.1 12-9.4-9s-11-10.5-24.4-19.6c-6.7-4.46-14-8.5-20.2-10.59-6.2-2.09-10.7-1.98-13.1-.75-5.2 2.67-9.7 9.27-12.8 19.24-3.1 10.1-4.6 22.8-5 35.1-.8 24.7 2.4 47.6 2.4 47.6l2.3 15.9-14.8-6.3s-9.7-4.2-20.4-6.8c-5.4-1.2-11-2-15-1.9-4.1.2-5.9 1.2-6.4 1.8-2.7 3.3-3.9 9.4-2.6 17.9 1.2 8.6 4.8 18.9 9.1 28.5 8.6 19.3 19.8 36 19.8 36l9.8 14.5-17.6-.5c.1 0-10.1-.3-21.7 1.1-11.57 1.4-23.95 5.8-26.76 9-10.59 12.2-14.01 26.1-13.15 41.2.87 15.2 6.38 31.4 13.83 45.9s16.81 27.3 24.58 35.8c.7.7 1.3 1.4 2 2 16-9.9 25.7-25.6 33.2-46.2 9.2-25.6 14-58 21.3-91.1 7.3-33.2 17.1-67.3 37.7-96.3 20.7-29.1 52.3-52.6 100.7-64 13.7-3.2 26.7-4.7 38.9-4.8-3-4.5-6.5-9.3-10.5-14.4-7.1-9.1-15.2-17.93-23.1-24.09-7.4-5.78-14.5-8.87-19.9-9.02zM148.6 118.7c-22 4.2-47.7 28.3-69.23 63.3-21.89 35.5-39.78 81.1-48.85 123.9-9.08 42.7-8.81 82.7 2.39 105.7 5.6 11.5 13.22 18.8 24.37 22.2 8.66 2.7 19.98 2.9 34.36-.7-8.29-9.6-17.18-22.1-24.61-36.6-8.26-16.1-14.72-34.3-15.79-53-1.06-18.7 3.64-38.1 17.53-54.1 9.68-11.2 25.08-13.4 38.13-15 3.3-.4 5.6-.5 8.5-.6-4-6.9-8.7-15.6-13.1-25.3-4.62-10.6-8.76-22-10.4-33.3-1.64-11.2-.87-23 6.61-32v-.1c5.19-6.2 12.69-7.9 19.39-8.2 6.8-.2 13.6.9 19.9 2.4 3.4.8 6.5 1.7 9.5 2.6-.8-9.4-1.5-22.1-1.1-36.1.3-8.3 1-16.8 2.4-25.1zm194.3 22.9c-11.1 0-23.2 1.3-36.2 4.5-44.9 10.5-71.9 31-90.2 56.8-18.3 25.8-27.7 57.4-34.8 89.7-7.1 32.4-11.8 65.2-22 93.4-5.4 14.9-12.7 28.7-22.8 40 129.5-22.2 254.5-67 351-112.1-2.2-14-10.2-56-31.9-96-13.2-24.3-31.2-46.9-55.2-61-15.1-8.8-32.5-14.5-53.2-15.2-1.6-.1-3.1-.1-4.7-.1z" fill="#fff" fill-opacity="1"></path></g></svg>
        <span>Mexican</span></a>
    </li>

    <li>
        <a href='/recipes/italian/' title='Italian'><svg style="height: 64px; width: 64px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M0 0h512v512H0z" fill="#000" fill-opacity="1"></path><g class="" transform="translate(0,0)"><path d="M255.5 16a239.9 239.9 0 0 0-128.6 37.69l9.1 13.17C171.9 44.09 213.5 32 256 32c27.3 0 54.4 4.98 79.9 14.72l6.3-14.71A239.985 239.985 0 0 0 256 16zm103.3 23.12l-6.3 14.71c54.3 25.91 95.9 72.57 115.4 129.47l15.3-4.6c-14.4-65.2-56-117.4-124.4-139.58zM255.4 51c-38.4.11-76.1 11.02-108.6 31.49L254.1 237.5c31.2-55.8 54.7-114 74.3-173.3C305.3 55.47 280.7 51 256 51zm29.4 8.93l19.1 23.86-14 11.25-19.1-23.87zm-172.7 4C37.18 104.2 20.64 165.2 17.2 232l15.98 1c6.39-61.9 38.28-118.4 88.02-155.91zM222.2 71c8.2 0 15.8 2.12 21.9 6.2 6.1 4.07 11 10.75 11 18.8 0 8.1-4.9 14.7-11 18.8-6.1 4.1-13.7 6.2-21.9 6.2s-15.8-2.1-21.9-6.2c-6.1-4.1-11-10.7-11-18.8 0-8.05 4.9-14.73 11-18.8 6.1-4.08 13.7-6.2 21.9-6.2zm122.8.31c-18.3 59.29-41.7 116.49-73.1 170.49l68.3-20.4c-3.2-4.9-5-10.9-5-17.2 0-15 10.5-28.8 25.4-28.8 14.9 0 25.4 13.8 25.4 28.8 0 1.2-.1 2.4-.2 3.7l63.9-19.1C431.8 137.3 394.1 94.98 345 71.31zM222.2 89c-5 0-9.3 1.44-11.9 3.16-2.6 1.71-3 3.05-3 3.84s.4 2.13 3 3.84c2.6 1.76 6.9 3.16 11.9 3.16s9.3-1.4 11.9-3.16c2.6-1.71 3-3.05 3-3.84s-.4-2.13-3-3.84c-2.6-1.72-6.9-3.16-11.9-3.16zM132 92.72C87.04 126.9 58.15 178.1 52.16 234.2c62.64.6 125.14 1.8 185.94 11.6L219 218.2l-18.5 10.1-8.6-15.8 16.8-9.2-57-82.1-23.1 18.3-11.2-14.2 24-19zm233.6 13.78l12.2 20.1-15.4 9.4-12.2-20.1zm-106.5 23.1l7.8 16.2-30.2 14.3-7.8-16.2zM123.4 151c17 0 29.6 15.6 29.6 33s-12.6 33-29.6 33-29.6-15.6-29.6-33 12.6-33 29.6-33zm298 9.3l3.7 27.6-17.8 2.4-3.7-27.6zm-298 8.7c-5.7 0-11.6 5.9-11.6 15s5.9 15 11.6 15c5.7 0 11.6-5.9 11.6-15s-5.9-15-11.6-15zm237.2 24.4c-3.2 0-7.4 3.9-7.4 10.8s4.2 10.8 7.4 10.8 7.4-3.9 7.4-10.8-4.2-10.8-7.4-10.8zm127.8 2.6l-15.4 4.5c4.6 18.1 7 36.8 7 55.5 0 47.1-14.8 93-42.4 131.2l12.6 9.9C480 356.1 496 306.7 496 256c0-20.2-2.5-40.4-7.6-60zm-33.6 10l-124 37.1 10 7.1-10.4 14.6-21.4-15.2-33.8 10.1c45.1 42.9 97.7 77.7 147.4 115.7C446.4 340.6 454 298.8 461 256c2.7-16.7-2.1-33.7-6.2-50zM16.07 250c-.1 2 0 4-.1 6-5.08 70.3 9.06 138.7 82.57 181.2l10.06-12.5C59.92 382.2 31.99 320.7 32 256v-5zm34.97 2.2v3.8c0 22 3.52 43.8 10.45 64.7l10.99-23.5 16.3 7.6-18.13 38.8c11.94 25.3 28.91 47.8 49.85 66.3l117.5-146-129.1-8.1-24.6 24.5-12.72-12.8 13.22-13.2zm367.56 13.1c2.3-.1 4.6.2 6.9 1 7.2 2.2 12.3 8.1 14.7 14.8 2.4 6.5 2.4 13.9.1 21.2-2.2 7.2-6.6 13.3-12.2 17.4-5.8 3.9-13.3 5.9-20.6 3.6-2.6-.8-4.9-2.1-6.9-3.7l-7.8 8.9-27.6-23.8 11.8-13.6 14.5 12.5c-1-5.3-.6-10.9 1.1-16.3 2.3-7.3 6.6-13.3 12.3-17.3 4-2.8 8.8-4.6 13.7-4.7zm-261.1 5.5l29.7 11.2-6.4 16.8-29.7-11.2zm108.7 4.6l5.3 84.6c4.8 1 9.2 2.6 13.1 4.9 6.7 3.9 12.4 10.6 12.4 19.1 0 8.5-5.7 15.2-12.4 19.1-3.1 1.8-6.5 3.2-10.1 4.2l3.3 52.5c11.1-1.2 22-3.3 32.7-6.2l3.5-29.1 17.8 2.2-2.5 20.7c31.8-12.1 60-32 82.2-57.8-20.7-16.3-45.4-27.9-62.2-48.9l-7.2 20.1-17-6 9.2-25.9c-28.2-14-45.8-35.4-68.1-53.5zm-17.7 4.3l-114 141.4C169.7 447 212.3 461 256 461h3.8l-3.3-52.2c-7.2-.5-13.8-2.4-19.3-5.7-6.7-3.9-12.4-10.6-12.4-19.1 0-8.5 5.7-15.2 12.4-19.1 4.7-2.8 10.3-4.6 16.3-5.4zm170.6 3.6c-1-.1-2.2.3-3.8 1.3-2.1 1.5-4.3 4.4-5.5 8.1-1.1 3.7-.9 7.3-.1 9.7.9 2.4 2.1 3.4 3.2 3.7 1.2.4 2.7.2 4.8-1.2 2-1.4 4.3-4.3 5.5-8 1.1-3.7.9-7.4.1-9.7-.9-2.4-2.1-3.4-3.2-3.8-.3-.1-.6-.1-1-.1zm-293.3 29.9c4.3.1 8.6 1.1 12.6 3 14.3 6.9 21.3 24.1 14.4 38.4-6.9 14.4-24.7 19.7-39 12.8-14.32-6.9-21.26-24-14.38-38.4 4.98-10.3 15.48-15.9 26.38-15.8zm-.9 17.9c-4 .1-7.6 2.2-9.3 5.7-2.4 5.1-.1 11.5 6 14.4 6.1 2.9 12.5.7 15-4.4 2.4-5 .1-11.4-6-14.3-1.9-1-3.9-1.4-5.7-1.4zm136 45.9c-6 0-11.4 1.6-14.6 3.4-3.2 1.9-3.5 3.3-3.5 3.6 0 .3.3 1.7 3.5 3.6 3.2 1.8 8.6 3.4 14.6 3.4s11.4-1.6 14.6-3.4c3.2-1.9 3.5-3.3 3.5-3.6 0-.3-.3-1.7-3.5-3.6-3.2-1.8-8.6-3.4-14.6-3.4zm165.5 24.4c-37.4 43.8-90.1 71.5-147.4 77.4l1 16c64 3.3 124.6-11.3 159-83.5zm-245.9 3l28.1 2.6-1.6 18-28.1-2.6zm-57.9 31.5l-10 12.5c36.1 45 90.2 51.7 143.4 47.6 2-.2 4 0 6-.1l-1-16c-1.7.1-3.3.1-5 .1-48 0-94.8-15.5-133.4-44.1z" fill="#fff" fill-opacity="1"></path></g></svg>
        <span>Italian</span></a>
    </li>

    <li>
        <a href='/recipes/asian/' title='Asian'><svg style="height: 64px; width: 64px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M0 0h512v512H0z" fill="#000" fill-opacity="1"></path><g class="" transform="translate(0,0)"><path d="m20.35 26.1-2.68 15.78L381.7 103.9l2.6-15.79zm-.55 57.94-1.58 15.92L382.2 136l1.6-16zm212.1 84.36c-2.1-.1-4.2.7-5.9 2.3-3.4 3.1-3.5 8.4-.4 11.7l2.6 2.8-17.7-7.6c-4.2-1.8-9.1.1-10.9 4.3-1.8 4.3.1 9.2 4.4 11l6.8 3c-30.5 1.9-60.3 12-83.5 29l-1.8-3c-2.4-3.9-7.5-5.2-11.5-2.8-3.9 2.4-5.2 7.5-2.8 11.4l3.2 5.3-.4.4-8.2-8.6c-3.2-3.3-8.5-3.5-11.8-.3-3.3 3.2-3.5 8.5-.3 11.8l9.2 9.6c-9.5 12.4-16.3 26.8-19.3 42.9h346.8c5 0 9-3.7 9-8.3 0-4.6-4-8.3-9-8.3h-8l3-.6c5-.7 8-5 7-9.5-1-4.6-5-7.7-10-6.9l-11 1.8c-3-3.3-6-6.2-9-8.8l2-2.1c3-3.2 4-8.4 0-11.8-3-3.3-8.1-3.4-11.4-.2l-5 4.7c-12.9-6.6-26.7-9.8-38.5-11.3 3.7-2.6 4.7-7.8 2-11.6-2.6-3.7-7.8-4.7-11.6-2l-13.3 9.3 3.4-6c2.2-4 .8-9.1-3.2-11.4-4-2.2-9.1-.8-11.3 3.2l-6 10.5c-13-9.4-27.6-16.2-42.9-20.6L237.8 171c-1.6-1.7-3.7-2.5-5.9-2.6zm-52.1 52.1 15.4 5.5c3.3 1.2 4.9 4.8 3.8 8-1.2 3.3-4.8 4.9-8 3.8l-15.4-5.6c-3.3-1.2-5-4.7-3.8-8 1.9-3.5 4.8-4.5 8-3.7zm85.6 22.4c1.5 3.1.2 6.9-2.9 8.3l-14.8 7.1c-3.1 1.5-6.9.1-8.4-3-1.4-3.1-.1-6.8 3-8.3l14.8-7c3.1-1.4 7 .4 8.3 2.9zm98.6 10.6 11.8 11.3c2.5 2.4 2.6 6.4.2 8.9-2.4 2.4-6.3 2.5-8.8.1l-11.8-11.3c-2.5-2.4-2.6-6.4-.2-8.9 2.7-2.2 6.5-2.3 8.8-.1zm-214.3 16.8c1 3.3-.8 6.8-4.1 7.9l-15.6 5c-3.2 1-6.8-.8-7.8-4.1-1.1-3.3.7-6.8 4-7.8l15.6-5c3.3-.9 7 1.5 7.9 4zm145-3.3 15.9 4c3.4.8 5.4 4.2 4.6 7.6-.9 3.3-4.3 5.4-7.6 4.5l-15.9-4c-3.4-.8-5.4-4.2-4.5-7.6 1.5-3.6 4.3-5 7.5-4.5zM39.33 312c1.68 42.5 16.6 76.8 48.58 101.7C121.9 440.1 176.1 456 255 456s133.1-15.9 167.1-42.3c32-24.9 46.9-59.2 48.6-101.7zM191 472v16h128v-16z" fill="#fff" fill-opacity="1"></path></g></svg>
        <span>Asian</span></a>
    </li>

    <li>
        <a href='/recipes/bbq-and-grilling/' title='BBQ and Grilling'><svg style="height: 64px; width: 64px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M0 0h512v512H0z" fill="#000" fill-opacity="1"></path><g class="" transform="translate(0,0)"><path d="M241.9 20.47s-8.8 4.49-17.7 11.17c-4.4 3.33-8.9 7.22-12.6 11.86-3.7 4.64-7 10.4-6.5 17.52.5 8.44 6.3 14.78 12.1 18.4 5.9 3.63 12.2 5.75 18.1 7.83 5.9 2.08 11.3 4.13 14.4 6.1 3 1.97 3.3 2.49 3.4 4.1 0 0-.4 1.52-2.5 3.85-2.1 2.2-5.6 4.9-9.2 7.2-7.3 4.5-14.8 7.6-14.8 7.6l6.8 16.6s8.7-3.5 17.5-9.1c4.4-2.7 9-6 12.8-10.1 3.9-4.2 7.4-9.6 7.2-16.53-.2-8.46-5.9-15.06-11.6-18.74-5.8-3.68-12.1-5.8-18-7.88-5.9-2.09-11.4-4.14-14.6-6.15-3.2-2.01-3.7-2.78-3.8-4.38 0-.41.5-2.41 2.7-5.18 2.2-2.77 5.7-5.94 9.4-8.72 7.4-5.57 15.1-9.55 15.1-9.55zm-112 18s-8.8 4.49-17.7 11.17c-4.4 3.33-8.9 7.22-12.6 11.86-3.7 4.64-7 10.4-6.5 17.52.5 8.44 6.3 14.78 12.1 18.4 5.9 3.58 12.2 5.78 18.1 7.78 5.9 2.1 11.3 4.1 14.4 6.1 3 2 3.3 2.5 3.4 4.1v.1s-.4 1.5-2.5 3.8c-2.1 2.2-5.6 4.9-9.2 7.2-7.3 4.5-14.8 7.6-14.8 7.6l6.8 16.6s8.7-3.5 17.5-9.1c4.4-2.7 9-6 12.8-10.1 3.9-4.2 7.4-9.6 7.2-16.5-.2-8.5-5.9-15.06-11.6-18.74-5.8-3.68-12.1-5.8-18-7.88-5.9-2.09-11.4-4.14-14.6-6.15-3.2-2.01-3.7-2.78-3.8-4.38 0-.41.5-2.41 2.7-5.18 2.2-2.77 5.7-5.94 9.4-8.72 7.4-5.57 15.1-9.55 15.1-9.55zm218 0s-8.8 4.49-17.7 11.17c-4.4 3.33-8.9 7.22-12.6 11.86-3.7 4.64-7 10.4-6.5 17.52.5 8.44 6.3 14.78 12.1 18.4 5.9 3.58 12.2 5.78 18.1 7.78 5.9 2.1 11.3 4.1 14.4 6.1 3 2 3.3 2.5 3.4 4.1v.1s-.4 1.5-2.5 3.8c-2.1 2.2-5.6 4.9-9.2 7.2-7.3 4.5-14.8 7.6-14.8 7.6l6.8 16.6s8.7-3.5 17.5-9.1c4.4-2.7 9-6 12.8-10.1 3.9-4.2 7.4-9.6 7.2-16.5-.2-8.5-5.9-15.06-11.6-18.74-5.8-3.68-12.1-5.8-18-7.88-5.9-2.09-11.4-4.14-14.6-6.15-3.2-2.01-3.7-2.78-3.8-4.38 0-.41.5-2.41 2.7-5.18 2.2-2.77 5.7-5.94 9.4-8.72 7.4-5.57 15.1-9.55 15.1-9.55zM46 169.5v17.8h438v-17.8zm1.51 35.8C53.14 263.5 112.6 347.5 230 347.5s176.9-84 182.5-142.2zm74.79 133.6l-15.6 72.8c7.1.7 13.9 3 19.8 6.4l15-69.9c-6.7-2.8-13.1-5.9-19.2-9.3zm215.4 0c-6.1 3.4-12.5 6.5-19.2 9.3l30.7 143.1c5-.2 13.4-.5 16-1.4 1.8-.6 2.6-1.2 3-1.7.3-.5.7-1.3.8-3.2zM102 429.3c-17.3 0-31.05 13.8-31.05 31.1S84.7 491.5 102 491.5s31.1-13.8 31.1-31.1-13.8-31.1-31.1-31.1zm47.7 20.2c.8 3.5 1.2 7.2 1.2 10.9 0 2.3-.2 4.6-.5 6.9h175.4l-3.8-17.8z" fill="#fff" fill-opacity="1"></path></g></svg>
        <span>BBQ and Grilling</span></a>
    </li>

    <li>
        <a href='/recipes/breakfast/' title='Breakfast'><svg style="height: 64px; width: 64px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M0 0h512v512H0z" fill="#000" fill-opacity="1"></path><g class="" transform="translate(0,0)"><path d="M378.014 37.379c-60.947.647-130.417 65.73-196.215 73.627-36.738 4.409-83.001-26.792-110.951-2.041-18.268 16.177-3.648 49.433-8.996 73.517-8.624 38.837-56.107 78.637-36.985 113.34 35.366 64.182 149.872 9.808 210.908 49.012 45.77 29.398 46.969 126.738 100.957 129.678 66.818 3.638 122.247-80.385 140.94-146.016 26.089-91.598 20.473-229.637-58.975-279.775-13.006-8.209-26.619-11.491-40.683-11.342zM171.72 141.252c34.716 0 62.857 25.092 62.857 56.045 0 30.953-28.141 47.732-62.857 47.732s-62.86-16.78-62.86-47.732c0-30.953 28.144-56.045 62.86-56.045zm-9.203 13.182c-21.338 7.89-48.289 29.583-30.061 62.777.305-20.013 6.097-35.458 30.06-62.777zm207.61 51.35c36.074 0 65.317 30.186 65.317 67.423s-29.243 57.424-65.316 57.424c-36.074 0-65.317-20.187-65.317-57.424 0-37.237 29.243-67.424 65.317-67.424zm-9.64 15.45c-22.172 9.492-50.176 35.59-31.236 75.524.317-24.076 6.336-42.658 31.236-75.524z" fill="#fff" fill-opacity="1"></path></g></svg>
        <span>Breakfast</span></a>
    </li>
    
    <li>
        <a href='/recipes/slow-cooker/' title='Slow Cooker'><svg style="height: 64px; width: 64px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M0 0h512v512H0z" fill="#000" fill-opacity="1"></path><g class="" transform="translate(0,0)"><path d="M256 113.3a42.25 12.34 0 0 0-42.2 12.3 42.25 12.34 0 0 0 42.3 12.3 42.25 12.34 0 0 0 42.2-12.3 42.25 12.34 0 0 0-42.2-12.3 42.25 12.34 0 0 0-.1 0zm-28.8 32.3 5.1 10.9-23.3 11.4s16.4 7 47 7 47.1-7 47.1-7l-23.4-11.4 5.1-10.9c-19.2 3.8-38.4 3.3-57.6 0zm90.2 28.6c-3.8 1.2-9.3 2.6-16.3 3.9 34.9 3.8 69.8 12.1 104.5 25l13.7-1.3c-34-13.5-67.9-22.6-101.9-27.6zm-122.1.2c-34.2 5.1-68.4 14.2-102.5 27.4l13.6 1.3c35.2-12.7 70.4-20.9 105.4-24.8-7.1-1.3-12.6-2.7-16.5-3.9zm235.3 37.8a12.43 12.43 0 0 0-2.7.3c-111.6 23.1-226 20.9-343.98 0a12.43 12.43 0 0 0-2.36-.2 12.43 12.43 0 0 0-12.06 10.2 12.43 12.43 0 0 0 10.06 14.4c120.34 21.5 238.14 23.7 353.34 0a12.43 12.43 0 0 0 9.7-14.7 12.43 12.43 0 0 0-12-10zM22.98 250.6c-2.68 0-5.25 1.1-7.1 3.1-1.86 2-2.78 4.6-2.68 7.4.21 2.7 2.57 4.9 5.35 4.9 11.53.4 39.62 4.3 42.5 34.5l13.68 2.9-11.11-52.8H22.98zm425.12 0L437 303.4l13.7-2.9c2.8-30.2 30.9-34.1 42.4-34.5 2.8 0 5.2-2.2 5.4-4.9.1-2.8-.8-5.4-2.7-7.4-1.8-2-4.4-3.1-7.1-3.1h-40.6zM81.7 255s9.9 83 42.1 157.5c0 0 24.6 28.3 132.2 28.3 107.7 0 132.3-28.3 132.3-28.3 32.1-74.5 42-157.5 42-157.5s-40.7 16.4-174.3 16.4C122.4 271.4 81.7 255 81.7 255zm160.7 72.2h27.2c6.4 0 12.6 2.7 16.8 7.5 4.3 4.9 6.3 11.3 5.6 17.6-1.9 15.5-4.2 34.9-5.9 49.5-1.4 11.9-11.5 20.8-23.5 20.8h-13.2c-12 0-22-8.9-23.5-20.8-1.7-14.6-4-34-5.8-49.5-.8-6.3 1.2-12.7 5.5-17.6 4.3-4.8 10.4-7.5 16.8-7.5zm-1.2 13.2c-4.6 0-8.4 3.6-8.4 8.3 0 4.6 3.8 8.3 8.4 8.3h29.5c4.7 0 8.3-3.7 8.3-8.3 0-4.7-3.6-8.3-8.3-8.3h-29.5zm1.9 30.5c-4.7 0-8.4 3.7-8.4 8.3 0 4.7 3.7 8.4 8.4 8.4h25.7c4.7 0 8.4-3.7 8.4-8.4 0-4.6-3.7-8.3-8.4-8.3h-25.7zm-116.8 69.7 6.8 18.1 44.2 7.1 6.7-14.2-57.7-11zm259.7 0-57.7 11 6.7 14.2 44.2-7.1 6.8-18.1z" fill="#fff" fill-opacity="1"></path></g></svg>
        <span>Slow Cooker</span></a>
    </li>

    <li>
        <a href='/recipes/pressure-cooker/' title='Pressure Cooker'><svg style="height: 64px; width: 64px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M0 0h512v512H0z" fill="#000" fill-opacity="1"></path><g class="" style="" transform="translate(0,0)"><path d="M256 29.37c-144.8 0-140.1 65.85-140.1 65.85l57.8-11.42s8.2-35.08 82.3-35.08 82.3 35.08 82.3 35.08L396 95.22s4.8-65.85-140-65.85zM238 67.7l-3.3 11.01 43.4.4c-1.5-3.85-2.7-7.82-4-11.76zm18 26.71c-48.7.1-97.5 5.99-146.2 17.39l-25.87 27.6-1.18 10.8c115.55-16.6 230.95-16.9 346.55 0l-1.2-10.8-25.9-27.6c-48.7-11.7-97.4-17.46-146.2-17.39zm0 60.89c-61.9 0-123.8 4.2-185.7 12.4H36.08v18.6l35.78 29.2v-25.1c122.74-17.7 245.54-17.9 368.34 0v25.1l35.7-29.2v-18.6h-34.2c-61.9-8.4-123.8-12.5-185.7-12.4zM110.7 197l-27.87 3.8v218.8l27.87 2.7zm290.9 0v225.3l27.8-2.7V200.8zm-195.9 28.8c-17.2 0-31 13.8-31 31v117.9c0 15.8 11.9 29.1 27.8 30.8 35.8 3.6 71.5 3.5 107.2 0h.2c15.7-1.7 27.7-15 27.7-30.8V256.8c0-17.2-13.8-31-31-31zm0 18.1h100.9c7.3 0 13.1 5.8 13.1 12.9 0 27.6 0 91.5-.1 117.9 0 6.6-5.1 12.1-11.6 12.9-34.5 3.3-69.1 3.5-103.7 0-6.6-.7-11.5-6.3-11.5-12.9V256.8c0-7.1 5.7-12.9 12.9-12.9zM217 261v47.6h78.5V261zm-4.1 65.5c-4.3 0-7.9 3.4-7.9 7.8s3.6 7.8 7.9 7.8h27.5c4.4 0 7.9-3.4 7.9-7.8s-3.5-7.8-7.9-7.8zm59.3 0c-4.3 0-7.9 3.4-7.9 7.8s3.6 7.8 7.9 7.8h27.6c4.3 0 7.8-3.4 7.8-7.8s-3.5-7.8-7.8-7.8zm-59.3 32.1c-4.3 0-7.9 3.5-7.9 7.9 0 4.3 3.6 7.8 7.9 7.8h27.5c4.4 0 7.9-3.5 7.9-7.8 0-4.4-3.5-7.9-7.9-7.9zm59.3 0c-4.3 0-7.9 3.5-7.9 7.9 0 4.3 3.6 7.8 7.9 7.8h27.6c4.3 0 7.8-3.5 7.8-7.8 0-4.4-3.5-7.9-7.8-7.9zM87.32 437.8 111 470.4c96.7 16.3 193.2 16.4 289.9 0l23.7-32.6c-99.7 12.7-211.3 13.5-337.28 0z" fill="#fff" fill-opacity="1"></path></g></svg>
        <span>Pressure Cooker</span></a>
    </li>

    <li>
        <a href='/recipes/sous-vide/' title='Sous Vide'><?xml version="1.0" standalone="no"?>
            <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 20010904//EN"
             "http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd">
            <svg style="height: 70px; width: 70px;" version="1.0" xmlns="http://www.w3.org/2000/svg"
             width="1000.000000pt" height="1000.000000pt" viewBox="0 0 1000.000000 1000.000000"
             preserveAspectRatio="xMidYMid meet">
            
            <g transform="translate(0.000000,1000.000000) scale(0.100000,-0.100000)"
            fill="#000000" stroke="none">
            <path d="M460 4995 l0 -4545 4543 2 4542 3 3 4543 2 4542 -4545 0 -4545 0 0
            -4545z m2148 4126 c24 -15 32 -84 32 -310 0 -208 -1 -223 -17 -218 -10 3 -58
            20 -108 37 -260 89 -639 118 -940 70 -88 -14 -279 -64 -345 -90 -28 -11 -55
            -20 -60 -20 -6 0 -10 102 -10 264 l0 265 23 4 c42 8 1412 7 1425 -2z m-423
            -467 c341 -46 633 -177 820 -368 86 -88 132 -157 167 -252 18 -47 23 -80 23
            -164 0 -84 -5 -117 -23 -164 -77 -208 -264 -380 -538 -497 -615 -263 -1444
            -152 -1834 245 -134 137 -190 258 -190 416 0 209 121 396 358 554 307 204 767
            291 1217 230z m-826 -1565 c372 -104 824 -94 1169 26 55 19 104 35 107 35 9 0
            5 -6173 -5 -6214 -4 -21 -15 -43 -22 -47 -7 -5 -335 -8 -728 -6 l-715 2 -3
            3137 -2 3137 47 -20 c27 -11 95 -34 152 -50z m2660 -4524 c135 -32 259 -105
            484 -282 154 -121 252 -187 336 -227 59 -27 76 -31 161 -31 86 0 101 3 161 31
            85 41 182 106 336 227 225 178 313 230 459 272 162 47 337 29 495 -51 94 -47
            179 -105 354 -243 234 -184 346 -241 469 -241 120 0 240 63 488 257 187 146
            261 197 343 234 107 48 199 69 307 69 196 0 381 -62 663 -221 207 -118 186
            -85 183 -281 l-3 -167 -130 85 c-152 100 -391 220 -523 264 -238 79 -342 46
            -672 -212 -281 -220 -394 -281 -578 -309 -66 -10 -94 -9 -173 4 -175 30 -287
            89 -535 283 -187 146 -246 187 -340 231 -130 62 -239 55 -384 -24 -58 -31
            -124 -79 -413 -300 -95 -73 -253 -155 -347 -179 -40 -11 -102 -17 -160 -17
            -58 0 -120 6 -160 17 -94 24 -252 106 -347 179 -376 287 -410 310 -518 347
            -74 25 -141 25 -235 0 -239 -66 -473 -192 -851 -459 -19 -13 -19 -10 -19 160
            l0 174 103 67 c287 188 521 299 718 342 87 19 249 19 328 1z m64 -872 c116
            -41 213 -100 399 -246 191 -149 250 -189 342 -233 203 -97 319 -59 671 216
            182 142 278 205 369 242 270 110 513 64 796 -152 288 -220 349 -263 424 -300
            211 -105 331 -67 691 215 172 135 236 178 336 224 195 89 371 94 605 16 107
            -35 284 -121 426 -206 l118 -71 0 -169 c0 -134 -3 -169 -12 -163 -7 4 -69 44
            -138 88 -235 150 -517 275 -661 292 -114 13 -242 -41 -425 -179 -60 -46 -161
            -122 -224 -170 -201 -152 -349 -212 -525 -211 -210 0 -347 64 -645 299 -289
            227 -413 284 -556 255 -116 -23 -193 -71 -534 -335 -376 -291 -691 -296 -1055
            -18 -38 29 -134 101 -211 161 -152 115 -257 174 -343 193 -111 23 -281 -25
            -532 -152 -123 -62 -391 -230 -480 -300 -20 -16 -40 -29 -43 -29 -3 0 -6 78
            -6 173 l0 172 58 36 c31 20 102 65 157 99 204 130 425 229 600 271 125 29 283
            22 398 -18z"/>
            <path d="M1650 8525 c-701 -104 -1035 -592 -659 -965 157 -157 414 -265 713
            -301 124 -15 392 -7 506 16 179 35 362 108 490 195 83 56 183 168 222 247 31
            65 33 73 33 179 0 109 -1 112 -40 189 -112 221 -397 384 -770 440 -120 18
            -374 18 -495 0z m-80 -350 l0 -195 45 0 c41 0 45 -2 45 -25 l0 -26 -122 3
            c-115 3 -123 4 -123 23 0 17 8 20 48 23 l47 3 0 150 0 150 -31 -23 c-60 -45
            -59 -44 -75 -23 -14 18 -11 24 48 77 44 40 71 57 91 58 l27 0 0 -195z m411
            157 c41 -46 41 -111 1 -144 l-28 -23 33 -31 c28 -26 33 -38 33 -76 0 -79 -58
            -128 -150 -128 -67 0 -105 21 -131 71 -11 23 -19 42 -17 44 2 2 15 6 30 10 23
            6 29 2 42 -24 37 -71 128 -69 155 2 20 51 -16 97 -73 97 -21 0 -26 5 -26 25 0
            20 5 25 25 25 28 0 75 40 75 64 0 82 -99 103 -142 31 -19 -33 -53 -47 -71 -29
            -9 9 12 56 36 83 32 34 55 41 121 38 52 -3 62 -7 87 -35z m406 22 c6 -17 -168
            -382 -195 -410 -7 -8 -27 -14 -43 -14 l-29 0 95 190 95 189 -113 3 -112 3 -3
            28 -3 27 151 0 c130 0 151 -2 157 -16z m-408 -572 c106 -54 136 -203 60 -295
            -41 -49 -81 -69 -140 -69 -186 2 -254 253 -96 355 49 32 124 36 176 9z m-442
            -14 c17 -13 153 -256 155 -276 3 -39 -4 -51 -38 -67 -29 -14 -60 -16 -179 -13
            -219 5 -227 22 -109 227 46 79 86 136 98 141 22 9 53 4 73 -12z m952 -2 c12
            -11 21 -29 21 -40 0 -24 -130 -260 -159 -290 -11 -10 -31 -18 -46 -18 -15 0
            -35 8 -45 18 -24 25 -160 264 -160 281 0 24 20 54 43 63 12 5 90 8 173 7 134
            -2 155 -4 173 -21z"/>
            <path d="M1875 7750 c-47 -10 -74 -32 -95 -76 -25 -51 -25 -77 1 -131 42 -87
            146 -104 213 -34 93 97 8 269 -119 241z"/>
            <path d="M1410 7615 c-41 -71 -69 -132 -66 -141 9 -23 289 -16 294 7 3 18
            -129 251 -146 257 -5 1 -42 -54 -82 -123z"/>
            <path d="M2155 7730 c-10 -16 135 -262 152 -258 19 4 157 243 148 257 -8 14
            -291 15 -300 1z"/>
            </g>
            </svg>            
        <span>Sous Vide</span></a>
    </li>

    <li>
        <a href='/recipes/soups/' title='Soups'><svg style="height: 64px; width: 64px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M0 0h512v512H0z" fill="#000" fill-opacity="1"></path><g class="" transform="translate(0,0)"><path d="M452.7 45.03c-1.2 0-2.3.1-3.6.27-9.8 1.4-26 9.6-42.9 25.9-71.1 68.8-113.7 117.6-132.4 140.3 20.4 2.2 37.9 5.1 51 8.6 5.3-11.8 13.4-23.8 23.5-36.3 24.6-30.5 60.9-63 98.4-98.5 11.9-11.4 17.2-20.3 18.4-25.9.9-4.4-.2-7.8-2.1-10.1-2-2.52-5.5-4.25-10.3-4.27zm-8 8.6c2-.1 3.7.47 4.6 1.67 2.6 3.3-.7 10.1-7.3 15.3-6.6 5.1-14 6.7-16.6 3.4-2.5-3.2.8-10.1 7.4-15.2 4.1-3.25 8.6-5.06 11.9-5.17zM197.3 222.2c-56.6 0-105.84 5.7-130.26 13.8-7.21 2.3-12.46 5.1-15.57 7.8-3.44 3-4.85 6.3-4.85 9.5s1.41 6.5 4.85 9.5c.43.4.89.7 1.4 1.1v158.2c0 15 10.35 28 24.95 31 79.78 18 159.48 19 239.18 0 14.5-3 24.8-16 24.8-31V282.3c-46.5 15.4-117.3 13.8-127.3 1.9 49.3-1 91.2-6.3 113.1-13.6 7.2-2.4 12.5-5.1 15.6-7.8 3.4-3 4.8-6.3 4.8-9.5s-1.4-6.5-4.8-9.5c-3.1-2.7-8.4-5.5-15.6-7.8-24.4-8.1-73.6-13.8-130.3-13.8zm0 12.5c55 0 102.7 5.3 126.4 13.1 4.4 1.5 8 3 10.3 4.7.3.2.7.5 1 .8-.3.3-.7.6-1 .8-2.3 1.7-5.9 3.2-10.3 4.7-23.7 7.8-71.4 13-126.4 13-54.9 0-102.65-5.2-126.33-13-4.45-1.5-7.96-3-10.33-4.7-.32-.2-.69-.5-.99-.8.3-.3.67-.6.99-.8 2.37-1.7 5.88-3.2 10.33-4.7 23.68-7.8 71.43-13.1 126.33-13.1z" fill="#fff" fill-opacity="1"></path></g></svg>
        <span>Soups</span></a>
    </li>

    <li>
        <a href='/recipes/salsas/' title='Salsas'><svg style="height: 64px; width: 64px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M0 0h512v512H0z" fill="#000" fill-opacity="1"></path><g class="" transform="translate(0,0)"><path d="M259.063 25.094c-56.045 0-106.836 9.775-144.438 26.125-18.8 8.174-34.34 17.96-45.594 29.53-11.254 11.57-18.28 25.338-18.28 40.188 0 9.936 3.17 19.388 8.625 28.03-10.218 21.883-15.844 45.794-15.844 70.782 0 103.158 95.757 187.844 215.532 187.844 119.776 0 215.563-84.686 215.563-187.844 0-24.99-5.653-48.897-15.875-70.78 5.454-8.644 8.625-18.096 8.625-28.032 0-14.85-7.026-28.617-18.28-40.188-11.256-11.57-26.825-21.356-45.626-29.53-37.603-16.35-88.363-26.126-144.408-26.126zm0 18.687c53.848 0 102.554 9.6 136.968 24.564 17.208 7.482 30.775 16.306 39.658 25.437 8.882 9.133 13 18.115 13 27.157 0 9.043-4.118 18.057-13 27.188-8.883 9.13-22.45 17.956-39.657 25.438-34.413 14.963-83.12 24.562-136.967 24.562-53.85 0-102.555-9.6-136.97-24.563-17.206-7.48-30.804-16.306-39.687-25.437-8.882-9.13-12.97-18.145-12.97-27.188 0-9.042 4.088-18.024 12.97-27.156 8.883-9.13 22.48-17.954 39.688-25.436 34.414-14.964 83.12-24.563 136.97-24.563zm-7.782 17.282c-80.57 0-146 26.008-146 57.844 0 31.836 65.43 57.81 146 57.813 40.04 0 76.404-6.613 102.782-16.94-21.316 3.34-45.064 5.845-70.656 5.845-86.066 0-155.937-21.656-155.937-47.906s69.868-47.282 155.936-47.282c20.43 0 39.926.725 57.813 2.906-24.816-7.704-55.957-12.28-89.94-12.28zM87.657 360.5c-9.916 19.897-14.758 36.638-15.78 49.03-1.23 14.906 2.752 22.238 6.655 24.626 3.905 2.388 11.497 2.48 23.376-5.75 9.25-6.41 20.16-17.73 31.375-34.406-16.778-9.432-32.1-20.71-45.624-33.5zm342.75.063c-13.532 12.782-28.872 24.043-45.656 33.468 11.21 16.666 22.13 27.97 31.375 34.376 11.88 8.23 19.472 8.138 23.375 5.75 3.903-2.388 7.886-9.72 6.656-24.625-1.022-12.38-5.855-29.098-15.75-48.967zm-199.25 64.25c1.36 21.275 5.296 37.554 10.344 48.468 6.272 13.56 13.26 17.82 17.72 17.908 4.457.088 11.14-3.683 17.374-16.907 5.133-10.89 9.165-27.52 10.437-49.467-9.175.965-18.51 1.468-27.967 1.468-9.437 0-18.75-.506-27.907-1.467z" fill="#fff" fill-opacity="1"></path></g></svg>
        <span>Salsas</span></a>
    </li>

    <li>
        <a href='/recipes/restaurant-recipes/' title='Restaurant Recipes'><svg style="height: 64px; width: 64px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M0 0h512v512H0z" fill="#000" fill-opacity="1"></path><g class="" transform="translate(0,0)"><path d="M256.18 21c-23.242 0-46.577 3.01-63.186 8.54-8.304 2.763-14.868 6.196-18.808 9.558-3.94 3.36-5.167 5.956-5.186 8.96L168.943 57H41v14h430V57H342.967l.033-9.033c.01-3.002-1.17-5.55-5.057-8.895-3.887-3.344-10.407-6.773-18.677-9.535C302.724 24.014 279.42 21 256.18 21zM38.277 89l-10.443 94h80.9l20.243-86.36L122.81 183h81.07l17.114-86.68-3.096 86.68h75.75l-4.634-86.518L307.694 183h81.497l-6.167-86.36L403.266 183h80.9l-10.443-94H38.277zM25.834 201l-.51 4.588C39.822 226.445 52.968 235 64 235c11.32 0 24.852-8.89 39.8-30.96l.714-3.04h-78.68zm95.687 0l-.32 4.498C135.753 226.495 148.935 235 160 235c11.293 0 24.788-8.85 39.693-30.803l.63-3.197h-78.802zm95.736 0l-.156 4.352C231.69 226.455 244.908 235 256 235c11.08 0 24.28-8.525 38.85-29.576l-.237-4.424h-77.357zm94.324 0l.674 3.12c15 22.192 28.503 31.044 39.773 31.013 11.03-.03 24.212-8.62 38.772-29.637l-.32-4.496h-78.9zm95.906 0l.713 3.04C423.147 226.11 436.68 235 448 235c11.032 0 24.178-8.555 38.676-29.412l-.51-4.588h-78.68zM112 223.31C97.313 242.11 81.492 253 64 253c-13.972 0-26.884-6.906-39-19.264V487h318V279h114v208h30V233.736C474.884 246.094 461.972 253 448 253c-17.49 0-33.31-10.888-47.996-29.684-14.664 18.808-30.432 29.77-47.926 29.817-17.508.048-33.352-10.87-48.092-29.807C289.303 242.116 273.486 253 256 253c-17.492 0-33.313-10.89-48-29.69-14.687 18.8-30.508 29.69-48 29.69s-33.313-10.89-48-29.69zM55 279h258v178H55V279zm18 18v142h222V297H73zm288 0v71.064l78 .573V297h-78zM88 312h128c-108.235 8-116.31 24-128 113.11V312zm273 74.066v13.998l78 .573v-14.002l-78-.57zm0 32V487h78v-68.365l-78-.57z" fill="#fff" fill-opacity="1"></path></g></svg>
        <span>Restaurant Recipes</span></a>
    </li>

    <li>
        <a href='#' title='Search'><svg style="height: 64px; width: 64px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M0 0h512v512H0z" fill="#000" fill-opacity="1"></path><g class="" transform="translate(0,0)"><path d="M333.78 20.188c-39.97 0-79.96 15.212-110.405 45.656-58.667 58.667-60.796 152.72-6.406 213.97l-15.782 15.748 13.25 13.25 15.75-15.78c61.248 54.39 155.3 52.26 213.968-6.407 60.887-60.886 60.888-159.894 0-220.78C413.713 35.4 373.753 20.187 333.78 20.187zm0 18.562c35.15 0 70.285 13.44 97.158 40.313 53.745 53.745 53.744 140.6 0 194.343-51.526 51.526-133.46 53.643-187.5 6.375l.218-.217c-2.35-2.05-4.668-4.17-6.906-6.407-2.207-2.206-4.288-4.496-6.313-6.812l-.218.22c-47.27-54.04-45.152-135.976 6.374-187.502C263.467 52.19 298.63 38.75 333.78 38.75zm0 18.813c-30.31 0-60.63 11.6-83.81 34.78-46.362 46.362-46.362 121.234 0 167.594 10.14 10.142 21.632 18.077 33.905 23.782-24.91-19.087-40.97-49.133-40.97-82.94 0-15.323 3.292-29.888 9.22-43-4.165 20.485.44 40.88 14.47 54.907 24.583 24.585 68.744 20.318 98.624-9.562 29.88-29.88 34.146-74.04 9.56-98.625-2.375-2.376-4.943-4.473-7.655-6.313 45.13 8.648 79.954 46.345 84.25 92.876 4.44-35.07-6.82-71.726-33.813-98.72-23.18-23.18-53.47-34.78-83.78-34.78zM176.907 297.688L42.094 432.5l34.562 34.563L211.47 332.25l-34.564-34.563zM40 456.813L24 472.78 37.22 486l15.968-16L40 456.812z" fill="#fff" fill-opacity="1"></path></g></svg>
        <span>Search</span></a>
    </li>
    </ul>
    </div>