---
layout: default
title: Food Safety
permalink: /foodsafety/
---
<!--
Begin Alert Message
-->
<div class="alert info">
    <span class="closebtn">&times;</span>  
    <strong>Notice!</strong> This page is under development. Some info may be incorrect or missing.
</div>

<script>
var close = document.getElementsByClassName("closebtn");
var i;

for (i = 0; i < close.length; i++) {
    close[i].onclick = function(){
        var div = this.parentElement;
        div.style.opacity = "0";
        setTimeout(function(){ div.style.display = "none"; }, 600);
    }
}
</script>
<!--
End Alert Message
-->

<h1 class="post-title">{{ page.title }}</h1>

<div id="toc_container">
    <p class="toc_title">Table of Contents</p>
    <ul class="toc_list">
        <li><a href="#introduction" data-scroll-to="introduction">Introduction</a></li>
        <li><a href="#food-sanitation" data-scroll-to="food-sanitation">Food Sanitation</a></li>
        <li><a href="#sources-of-hazards" data-scroll-to="sources-of-hazards">Sources of Hazards</a></li>
        <li><a href="#microbiology" data-scroll-to="microbiology">Microbiology</a>
            <ul>
                <li><a href="#bacteria" data-scroll-to="bacteria">1. Bacteria</a></li>
                <li><a href="#viruses" data-scroll-to="viruses">2. Viruses</a></li>
                <li><a href="#parasites" data-scroll-to="parasites">3. Parasites</a></li>
                <li><a href="#other" data-scroll-to="other">4. Other</a></li>
                <li><a href="#classification" data-scroll-to="classification">5. Foodborne Illness Classification</a></li>
            </ul>
        <li><a href="#quality-standards" data-scroll-to="quality-standards">Food Products: Quality & Standards</a>
            <ul>
                <li><a href="#beef" data-scroll-to="beef">Beef</a></li>
                <li><a href="#poultry" data-scroll-to="poultry">Poultry</a></li>
                <li><a href="#seafood" data-scroll-to="seafood">Seafood</a></li>
                <li><a href="#clams-and-oysters" data-scroll-to="clams-and-oysters">Clams and Oysters</a></li>
                <li><a href="#milk-and-dairy" data-scroll-to="milk-and-dairy">Milk and Dairy Products</a></li>
                <li><a href="#eggs" data-scroll-to="eggs">Eggs and Egg Products</a></li>
                <li><a href="#fruits-and-vegetables" data-scroll-to="fruits-and-vegetables">Fruits and Vegetables</a></li>
                <li><a href="#ice" data-scroll-to="ice">Ice</a></li>
                <li><a href="#map" data-scroll-to="map">Modified Atmosphere Packaging (MAP)</a></li>
                <li><a href="#canned-foods" data-scroll-to="canned-foods">Canned Foods</a></li>
                <li><a href="#dry-foods" data-scroll-to="dry-foods">Dry Foods</a></li>
            </ul>
        <li><a href="#food-handling" data-scroll-to="food-handling">Food Handling</a>
            <ul>
                <li><a href="#receiving" data-scroll-to="receiving">1. Receiving</a></li>
                <li><a href="#storing" data-scroll-to="storing">2. Storing Foods</a></li>
                <li><a href="#defrosting" data-scroll-to="defrosting">3. Defrosting Foods</a></li>
                <li><a href="#preparing" data-scroll-to="preparing">4. Preparing Foods</a></li>
                <li><a href="#cooking" data-scroll-to="cooking">5. Cooking Foods</a>
                <ul><li><a href="#temp-chart" data-scroll-to="temp-chart">Temperature Chart</a></li></ul>
                <li><a href="#cooling" data-scroll-to="cooling">6 Cooling Foods</a></li>
                <li><a href="#holding" data-scroll-to="holding">7. Holding Foods</a></li>
                <li><a href="#serving" data-scroll-to="serving">8. Serving Foods</a></li>
                <li><a href="#transporting" data-scroll-to="transporting">9. Food Transportation</a></li>
                <li><a href="#reheating" data-scroll-to="reheating">10. Reheating Foods</a></li>
            </ul>
        <li><a href="#cleaning-sanitizing-and-pest-control" data-scroll-to="cleaning-sanitizing-and-pest-control">Cleaning, Sanitizing, and Pest Control</a>
            <ul>
                <li><a href="#cleaning-and-sanitizing" data-scroll-to="cleaning-and-sanitizing">1. Cleaning and Sanitizing</a></li>
                <li><a href="#pest-control" data-scroll-to="pest-control">2. Pest Control</a></li>
            </ul>
        <li><a href="#equipment-facilities-maintenance" data-scroll-to="equipment-facilities-maintenance">Equipment, Facilities, & Maintenance</a></li>
            <ul>
                <li><a href="#equipment" data-scroll-to="equipment">1. Equipment and Utensils</a></li>
                <li><a href="#facilities" data-scroll-to="facilities">2. Facilities</a></li>
                <li><a href="#maintenance" data-scroll-to="maintenance">3. Maintenance</a></li>
            </ul>
    </ul>
    </div>

<h1 class="h1-text" id="introduction">Introduction</h1>

<p class="paragraph-text">Through knowledge of food safety we can ensure that the food we prepare and serve is safe for consumtion.</p>

<h3 class="h3-text">Time and Temperature</h3>

<p class="paragraph-text">One of the fundamental aspects of food safety is maintaining proper time and temperature control. This involves managing the time food spends in temperature danger zones, where harmful bacteria can thrive. Keeping hot foods hot and cold foods cold is essential to prevent bacterial growth that could lead to foodborne illnesses.</p>

<p class="paragraph-text">The temperature danger zone typically spans from 41°F (5°C) to 135°F (57°C). Within this range, bacteria, including pathogenic (harmful) bacteria, can grow rapidly, potentially leading to foodborne illnesses if foods are left in this temperature range for extended periods. The temperatures from 70°F (21°C) to 135°F (57°C) are the optimal range for bacteria to grow.</p>

<p class="paragraph-text">Certain foods, known as Time/Temperature Control for Safety (TCS) foods are more susceptible to bacterial contamination, and therefore require special attention.</p>

<ol>
    Common TCS foods include:
    <ul>
        <li>Milk and dairy products.</li>
        <li>Meat (beef, pork, chicken, lamb, fish, shellfish, crustaceans, etc.).</li>
        <li>Eggs.</li>
        <li>Cooked vegetables.</li>
        <li>Tofu.</li>
        <li>Textured soy protein in meat alternatives.</li>
        <li>Cut tomatoes.</li>
        <li>Cut leafy greens.</li>
        <li>Cut melons.</li>
        <li>Sprouts and sprout seeds.</li>
        <li>Untreated garlic and oil mixtures.</li>
    </ul>
</ol>

<p class="paragraph-text">Keep cold foods below 41°F (5°C), and hot foods above 135°F (57°C). Limit the amount of time food stays in the danger zone.</p>

<p class="paragraph-text">According to the CDC (Center for Disease Control), the most common reason for foodborne illness in restaurants is inadequate cooling and poor refrigeration.</p>

<h3 class="h3-text">Ready to Eat Foods</h3>

<p class="paragraph-text">Ready-to-eat (RTE) foods are those that can be consumed without further cooking. They are particularly vulnerable to contamination, as they don't undergo a cooking process that would kill harmful pathogens.</p>

<ol>
    RTE foods include:
    <ul>
        <li>Salads.</li>
        <li>Washed fruits and vegetables (whole or cut).</li>
        <li>Bakery items.</li>
        <li>Cooked food.</li>
        <li>Deli meat.</li>
        <li>Sugar.</li>
        <li>Spices and seasonings.</li>
    </ul>
</ol>

<h3 class="h3-text">High Risk Populations</h3>

<p class="paragraph-text">Some people are more vulnerable than others to foodborne disease, generally because their immune systems are weakened. And if they become sick with a foodborne illness, these people can face serious health consequences. But these risks can be reduced. You can help protect yourself and the people you care about by knowing and following basic rules of food safety.</p>

<ol>
    The groups of people that are more vulnerable to foodborne disease:
    <ul>
        <li>Eldery.</li>
        <li>Pre-school age children.</li>
        <li>People who suffer from weakened immune systems or chronic illnesses, such as cancer, diabetes, liver disease and AIDS.</li>
    </ul>
</ol>

<button class="back-to-top-button" onclick="goBackToTop()">Back to Top</button>

<h1 class="h1-text" id="food-sanitation">Food Sanitation</h1>

<p class="paragraph-text">Knowledge and education on cleaning, sanitizing, and safe food handling practices can ensure you serve your guests safe food. Not only does this safety knowledge include the food you serve, but also extends to the facility itself.</p>

<ul>
    As a responsible home cook, it is important to acquire and demonstrate competency in the following areas:
    <ul>
        <li>Understand foodborne illness.</li>
        <li>Identify time/temperature relationship with foodborne illness.</li>
        <li>Understand the relationship between personal hygiene and food safety.</li>
        <li>Understand methods for preventing food contamination.</li>
        <li>Identify and apply correct procedures for cleaning and sanitizing equipment and utensils.</li>
        <li>Recognize problems and potential solutions associated with facility, equipment, and layout.</li>
        <li>Recognize problems and potential solutions associated with housekeeping and maintenance.</li>
    </ul>
</ul>

<button class="back-to-top-button" onclick="goBackToTop()">Back to Top</button>



<h1 class="h1-text" id="sources-of-hazards">Sources of Hazards</h1>

<ol>
    Food can be contaminated in the following four ways:
    <ul>
        <li>Physical Contamination is caused when hair, glass, metal, shavings, broken objects, dirt, etc. gets into food.</li>
        <li>Biological Contamination is caused by harmful bacteria, viruses, fungi, or parasites that get into food.</li>
        <li>Chemical Contamination is caused when substances such as cleaning compounds, acids, detergents, soaps, chemicals, and pesticides get into food.</li>
        <ol type="a">
            <li>Toxic Metals: Metals such as copper, brass, tin, or galvanized metals can become toxic when they come in contact with acidic foods like lemonade, sauerkraut, dressing or vinegar. Avoid using unlined copper, zinc, brass, and pewter pots. Enamelware also can be dangerous because it may be plated with antimony or cadmium. If toxic metals are used with acidic food products, toxins may be produced, this is an example of chemical contamination.</li>
            <li>Additives: The excessive use of additives may also be a source of chemical contamination. You must not apply sulfites to foods. Avoid adding large amounts of additives to foods.</li>
        </ol>
        <li>Cross Contamination: is caused when bacteria or harmful microorganisms cross or transfer from one place to another. One example of this is when the same cutting board is used to cut raw chicken and then raw vegetables without washing in between.</li>
    </ul>
</ol>

<button class="back-to-top-button" onclick="goBackToTop()">Back to Top</button>



<h1 class="h1-text" id="microbiology">Microbiology</h1>

<p class="paragraph-text">Human beings carry a minimum of 150 billion bacteria which makes us the major hazard against food, especially our hands. Bacteria, viruses, and parasites usually come from people who improperly handle food, and from microorganisms that are already in the food when we receive it.</p>

<p class="paragraph-text">If we leave food out in the Danger Zone (41°F - 135°F) the bacteria will multiply in great numbers. The maximum accumulated time that food can remain in the Danger Zone is 4 hours; remember that the higher the temperature, the shorter the amount of time food can be left outside. (During optimal bacterial growth temperature, one bacterium will become 4,000 bacteria in 4 hours).</p>

<h2 class="h2-text" id="bacteria">1. Bacteria</h2>
<ol>
    Bacteria are the most common microorganisms that affect food. They live and can multiply anywhere, and they can grow on food. Other microorganisms like viruses or parasites will not grow on food.
    Bacteria need the following conditions in order to multiply faster:
    <ul>
        <li>Food - especially food that is high in protein such as milk, meat, fish, or eggs</li>
        <li>Moisture — they like foods with plenty of water</li>
        <li>Warm temperatures - 70°F - 135°F</li>
        <li>Time — they need time to reproduce</li>
        <li>Adequate pH — 4.6 — 7.5, they do not like very acidic foods</li>
    </ul>
</ol>

<p class="paragraph-text">The types of food in which harmful bacteria can grow are called PHF — potentially hazardous foods (chicken, eggs, cheese, shellfish). Even cantaloupes and watermelons are classified as PHF because they have plenty of water, not too acidic, and have the nutrients that bacteria needs to grow.</p>

<p class="paragraph-text">Freezing, refrigerating, and drying foods do not kill bacteria. This only keeps them in a dormant or hibernating state. As soon as you thaw or take food from the refrigerator, the bacteria will continue to grow and double in number every 20 minutes which is the way bacteria reproduces itself. When bacteria are multiplying, it consumes the nutrients in foods, and then produces waste products or metabolic by-products called toxins. These toxins may look and feel like slime, such as the one formed on old fish or meat.</p>

<p class="paragraph-text">Toxins cannot be killed with heat or cold; this is the reason why food that does not smell good or feels slimy, cannot be fixed under any circumstances. If ingested, these toxins will produce intoxication in people. Not all metabolic by-products are undesirable. Some are beneficial, like the ones produced by bacteria used to prepare cheese, yogurts, sour cream, and similar foods.</p>

<h3 class="h3-text">Spores</h3>
<p class="paragraph-text">Some bacteria have the ability to change into forms that are very resistant to heat and dry conditions. They are called spores and are characterized by the formation of a thick "shell". Bacteria that have turned into spores will not reproduce in that state, but once they sense good conditions, they will return to the bacteria state again and continue to multiply. Spores may be formed in improperly processed home canned foods; therefore, that type of food cannot be purchased by a food service establishment. All the food for sale to the public must be purchased from an approved source or has to come from a commercial kitchen.</p>

<h3 class="h3-text">pH = Food Acidity and Alkalinity</h3>
<p class="paragraph-text">Bacteria will grow best when food is slightly acid, neutral, or slightly alkaline, and contains enough water for its growth. The measure of acidity or alkalinity is called pH. Food which has been assigned a number below 7 is acid, if more than 7, it is alkaline, and if it is 7, neutral. The area of concern is the zone between 4.6-7.5. Foods rich in acid such as citric juices do not support bacterial growth. A product that is safe to store at room temperature (such as barbeque sauce) is only safe in its unaltered state. As you mix something else into it you do not know how the pH has changed, therefore the modified product must then be held under refrigeration. Bacteria can exist in a number of different places, but some bacteria are known to be found in certain food products.</p>

<h3 class="h3-text">Salmonella bacteria</h3>
<p class="paragraph-text">Found in human intestines, in domestic and wild animals, especially poultry, eggs and their shells. Also found in pets, roaches, and rodents. The foods that can be contaminated include meat and poultry that are not cooked at the required temperatures. They can also be found in unpasteurized milk and dairy products. Salmonella can be killed by cooking to 165°F for at least 15 seconds.</p>

<h3 class="h3-text">Shigella bacteria</h3>
<p class="paragraph-text">Found in the human intestines. Most foodborne illnesses caused by this microorganism are the result of not washing hands after using the bathroom and then touching food that will not be cooked. This bacterium may produce dysentery in humans.</p>

<h3 class="h3-text">E. Coli bacteria</h3>
<p class="paragraph-text">Found in human intestines and that of warm-blooded animals. It can contaminate food and water. Although most E. Coli will not cause problems, some types can cause serious diseases such as the one termed 0157:H7. It is found in ground beef that has not been cooked at 155°F for at least 15 seconds. It can produce death in children and elderly people.</p>

<h3 class="h3-text">Listeria bacteria</h3>
<p class="paragraph-text">Found anywhere, especially in lunch and deli meats. They are naturally found in the soil, water, animal feed and in the intestine of humans and animals. Also found in unpasteurized milk and its products, and in vegetables grown in contaminated soil. They can grow at temperatures below 41 °F. They can also grow in your home refrigerator. To prevent the spread of listeria inside the refrigerator, keep all foods covered and clean the refrigerator regularly. It can produce abortions, stillbirths, and birth defects if listeria contaminated food is ingested by pregnant women.</p>

<h3 class="h3-text">Staphylococcus aureus bacteria</h3>
<p class="paragraph-text">Most common cause of foodborne illness. It is found on the skin, nose, and mouth of 50-70% of all people. It is easily transmitted by sneezing, coughing, scratching skin, and touching hair. It is found especially in infected cuts and burns. Once on food, they multiply and produce toxins. Heat cannot kill toxins produced by this bacterium. Staphs are also unique because they can grow in foods that do not have a lot of water such as hams and custards. It can be transferred to food by the improper cleaning and sanitizing of food preparation utensils and equipment.</p>

<h3 class="h3-text">Bacillus cereus bacteria</h3>
<p class="paragraph-text">Found in soil where vegetables and grains are grown. It forms spores and can be found on cooked rice that has been improperly cooled or held hot.</p>

<h3 class="h3-text">Clostridium botulinum bacteria</h3>
<p class="paragraph-text">Microorganism responsible for causing botulism. It forms spores and grows only where there is no air (anaerobic). It is found in the soil, lakes, human intestines, fish, swollen cans, vacuum packed foods, and smoked meats. It is commonly found in vacuum packed and home-canned foods. Leftover baked and wrapped potatoes left in the danger zone for too long can create the anaerobic conditions for botulism to form. Because spores are so difficult to kill, botulism is a very dangerous and harmful bacteria. Any foods suspected of having botulism should be discarded immediately.</p>

<h3 class="h3-text">Vibrio bacteria</h3>
<p class="paragraph-text">Commonly found in raw, underprocessed, improperly handled, and contaminated fish and shellfish (clams, oysters, crabs, shrimp, and lobster). Because this bacterium requires salt to grow, is not found in still, clear waters or meat or poultry. It is highly resistant to salt and is more common in the summer months and in seafood harvested from warmer waters. Individuals with particularly low immune systems or diagnosed with liver disease should avoid consuming raw oysters and clams (the risk of death is almost 200 times greater).</p>

<h2 class="h2-text" id="viruses">2. Viruses</h2>
<p class="paragraph-text">Viruses are microorganisms that will cause illnesses, but do not reproduce on food. They only use food as a means of transportation. They are 100 times smaller than bacteria, and can only reproduce in living cells, human beings, plants, or anything that is alive. They can be excreted in human feces, urine, or the respiratory tract. Failure to wash hands after using the bathroom, coughing, sneezing, and wiping a runny nose are ways to spread contamination.</p>

<h3 class="h3-text">Hepatitis A (also called infectious hepatitis)</h3>
<p class="paragraph-text">Produced by a virus. It is found in the human intestines and urine of an infected person. Poor personal hygiene is the leading cause of Hepatitis A.</p>

<h3 class="h3-text">Norwalk Virus</h3>
<p class="paragraph-text">Believed to cause large amounts of viral illnesses. It lives in the human intestinal tract. Raw salads, raw vegetables, prepared salads, raw shellfish, and contaminated water may be the source of this type of contamination. The most likely food to transmit viral illness are those that are not heated or cooked after handling (sandwiches, milk, water, fruits, raw oysters, and clams).</p>

<h3 class="h3-text" id="parasites">3. Parasites</h3>
<p class="paragraph-text">Parasites are organisms that live within or feed off another organism. They are usually larger than bacteria but can be very small too.</p>

<h3 class="h3-text">Trichinella</h3>
<p class="paragraph-text">Parasite found in pork that produces trichinosis. Although the incidence of finding this parasite is not very high, it is very dangerous. We can kill trichinella by cooking pork to 145°F for 15 seconds.</p>

<h3 class="h3-text">Anisakis</h3>
<p class="paragraph-text">Parasite found in fish and seafood that produces anisakiasis. Coughing is the most common symptom if the worms attach themselves to the throat. Parasites can be killed if food is cooked well or if frozen at — 4°F for 7 days or-31°F for 15 hours.</p>

<h2 class="h2-text" id="other">4. Other</h2>
<h3 class="h3-text">Seafood toxins</h3>
<p class="paragraph-text">Some fish and shellfish can become poisonous when they eat poisonous plankton or toxic algae in warm waters. Do not eat shellfish during a red tide.</p>

<h3 class="h3-text">Scombroid Poisoning</h3>
<p class="paragraph-text">Most common reported cause of seafood illness. It is produced when fish like mahi-mahi and tuna begin to spoil from being time/temperature abused.</p>

<h3 class="h3-text">Ciguatera</h3>
<p class="paragraph-text">A type of seafood poisoning. The cause is not the fish, but what the fish eats. The small fish eats algae that may contain ciguatoxin. The bigger fish eats the smaller fish and then gets contaminated. Seen in tropical predatory fish such as snapper and barracuda.</p>

<h3 class="h3-text">Molds</h3>
<p class="paragraph-text">A natural part of many food products such as cheese. They rarely cause foodborne illnesses but are responsible for much of food spoilage.</p>
<ul>
    <li>Some molds can produce toxins, molds can be killed by heating foods to 140°F for 10 minutes, but this process will not destroy their toxins (remember, toxins can never be killed!).</li>
    <li>Freezing prevents growth of molds but has no effect on the mold spores that are already present in the food.</li>
    <li>Mold can grow at temperatures below 41 °F (In the refrigerator, you may see mold grow on cheese).</li>
</ul>

<h3 class="h3-text">Yeasts</h3>
<p class="paragraph-text">Commonly used in the production of breads and in the processing of beer and wine. They do not produce foodborne illness, but can ruin foods like sauerkraut, fruit juices, syrups, honey, jellies, etc. Yeasts can be killed by heating foods to 136 °F for 15 minutes and can be controlled by proper cleaning and sanitizing.</p>

<h2 class="h2-text" id="classification">5. Foodborne Illness Classification</h2>

<h3 class="h3-text">Food infection</h3>
<p class="paragraph-text">An illness produced by ingestion of living, harmful organisms which are present in food. These organisms such as bacteria, viruses, or parasites will multiply in the body and cause sickness. (Not cooking food product to their required temperature, as a result the organism(s) inside the food is not killed, someone gets sick --> Food infection)</p>

<h3 class="h3-text">Food intoxication</h3>
<p class="paragraph-text">An illness produced by ingestion of bacterial toxins or excrements that is present in food before it is eaten. Intoxication may also occur from consuming foods that contain chemicals from cleaning agents, pesticides, or certain metals. (Leaving potentially hazardous food product at room temperature, exposing it to the danger zone, toxins are formed, someone gets sick --> Food Intoxication)</p>

<button class="back-to-top-button" onclick="goBackToTop()">Back to Top</button>



<h1 class="h1-text" id="quality-standards">Food Products: Quality & Standards</h1>

<h3 class="h3-text" id="beef">Beef</h3>
<p class="paragraph-text">Look for bright red color, firm flesh, good smell, and a circular stamp on the box (USDA Inspection). Grading for quality is voluntary. Temperature below 41°F. Vacuum packed meats may be purple upon receival. They will turn red again when exposed to air, a natural process called blooming. Ground meats spoil faster. Sausages with evidence of slime or mold should be rejected.</p>

<h3 class="h3-text" id="poultry">Poultry</h3>
<p class="paragraph-text">Look for good smell, temperature 41°F or less. Grade A is the best. Poultry should be placed on crushed ice. Avoid darkened wing tips, and soft or sticky flesh.</p>

<h3 class="h3-text" id="seafood">Seafood</h3>
<p class="paragraph-text">Buy only from approved suppliers. Fish should be delivered and stored in crushed ice. Receiving temperature should be 41°F or less. Fresh fish have bright skin, gills that are moist and red, and scales firmly attached. Eyes must be clear and bulging. Flesh must be firm and elastic. Look for signs of worms, diseases, and tumors.</p>

<h3 class="h3-text" id="clams-and-oysters">Clams and Oysters</h3>
<p class="paragraph-text">Must come from approved sources. Fresh shellfish must be alive when delivered and should not have a strong odor. They must be kept in the original container until you use them all. ID TAGS that come with crustaceans must be saved for 90 days. In case of foodborne illness outbreak, ID tags may be used to identify the source of contaminated shellfish. Must be received at 45°F or below.</p>

<h3 class="h3-text" id="milk-and-dairy">Milk and Dairy Products</h3>
<p class="paragraph-text">All milk and milk products must be pasteurized, Grade A, and must be received under 41°F. Check expiration dates. Products labeled UHT do not need refrigeration until opened. Butter and cheese should be checked for any signs of contamination. Always keep milk products in the refrigerator at 41 °F or less. Milk must be served from the original container in which it was packed at the milk plant. Dry milk must be refrigerated after it has been reconstituted. When serving ice cream from a bulk pack, the ice cream scoop must be kept in a dipper well with running water. It can also be kept in the food with the handle outwards or clean and dry. Self-service of hard ice cream is not permitted. Butter or margarine provided to customers for self-service should be individual servings.</p>

<h3 class="h3-text" id="eggs">Egg and Egg Products</h3>
<p class="paragraph-text">Federal recommendations state that since eggs are PHF, they must be received, transported, and stored at 45 °F or less. Damaged or dirty eggs should be rejected. Many health departments recommend the use of liquid eggs. Liquid, frozen, and dry eggs must be pasteurized. The use of pasteurized eggs is very much recommended and required for recipes that need little to no cooking. An example of this is Caesar salad and Hollandaise sauce.</p>

<h3 class="h3-text" id="fruits-and-vegetables">Fruit and Vegetables</h3>
<p class="paragraph-text">The best indication of quality is taste. All produce must be thoroughly washed in clean potable water before serving. This reduces possible contamination by soilborne bacteria (listeria bacteria) or chemical residue from pesticides.</p>

<h3 class="h3-text" id="ice">Ice</h3>
<p class="paragraph-text">Ice for use as food or for cooling other foods must be made from drinking water. Do not allow the handling of ice with hands, glasses, or anything else besides an approved scoop kept in a clean and sanitary container.</p>

<h3 class="h3-text" id="map">Modified Atmosphere Packaging (MAP)</h3>
<p class="paragraph-text">A process whereby foods are placed in containers and air is removed from the package. Sous-vide products are vacuum packed foods. They must be kept frozen or at 41°F or less in the refrigerator. Because botulinum is a bacterium that grows in products with no air, discard any vacuum-packed that have any signs of "bulging".</p>

<h3 class="h3-text" id="canned-foods">Canned Foods</h3>
<p class="paragraph-text">Botulism can occur in canned or vacuum-packed foods, and it is extremely Dangerous. Check for swollen cans, leakage, broken seals, dents along seams, rust, or missing labels. Reject the cans if any of these conditions are detected.</p>

<h3 class="h3-text" id="dry-foods">Dry Foods</h3>
<p class="paragraph-text">They include such products as cereals, flour, dry fruits, and vegetables. Be sure that these foods are in good condition, and dry upon receiving. Look for punctures, tears, holes or slashing in the packages. Apply the rule of FIFO to dry food storage as well.</p>

<button class="back-to-top-button" onclick="goBackToTop()">Back to Top</button>



<h1 class="h1-text" id="food-handling">Food Handling</h1>

<p class="paragraph-text">Controlling food temperature is perhaps the most effective way to ensure that food is safe to eat.</p>

<h2 class="h2-text" id="receiving">1. Receiving</h2>
<p class="paragraph-text">Incoming shipments of food must be inspected for spoilage, and other signs of contamination. Things that must be checked are: weight, appearance, quality, quantity, expiration date, and temperatures. Cold food should arrive at 41°F or less and frozen food should arrive at 0°F or less; hot food at 135°F or more. In order to check the temperature of incoming shipments of food without opening individual packages, you may place the tip of a thermometer between two packages or fold the product onto the thermometer.</p>

<p class="paragraph-text">Packaged foods should be checked for any kind of defect such as leaks, bulges, dents, broken seals, rust, or missing labels. Reject packages that are damaged, patched or taped shut. Frozen foods received with the formation of large ice crystals at the bottom of the package is a sign that the product has been refrozen. Reject the box or shipment.</p>

<h2 class="h2-text" id="storing">2. Storing Foods</h2>
<p class="paragraph-text">FIFO - The most important rule for storage is First-In-First-Out. This means that food must be used in the order in which it is received. Whenever possible, store foods in their original packaging. Take special care in repacking the product. Clearly label repackaged foods. Make sure chemicals and foods are stored separately to avoid possible chemical contamination.</p>

<h3 class="h3-text">Refrigerated Foods</h3>
<p class="paragraph-text">Keep refrigerated foods at 41°F or below. Refrigerators should always have a working visible thermometer and be checked regularly. Always refrigerate meats, poultry, fish, and other PHF foods. Fresh fish must be stored using the correct ice down method. You do not have to refrigerate carrots, bananas, onions, apples, pears, citrus fruits, and potatoes. Do not overload refrigerators. Overloading of refrigerators can lead to inadequate temperature control. Keep raw foods separately from each other.</p>

<ul>
    Always store ready to eat foods on the top shelf. Arrange other shelves by cooking temperature (highest cooking temperature on the bottom). 
    <ul>
        <li>Raw poultry must always be stored on the lowest shelf.</li>
        <li>Ground meats on the next shelf up.</li>
        <li>Next shelf should store whole cuts (steaks and roasts) of beef, pork, veal, lamb, and seafood. (Keep in mind that you cannot cook out allergens. So if shellfish is stored above another item that requires a higher cooking temperature (like chicken, for example) and the shellfish drips on the chicken, it is safe from a temperature perspective but if someone with a shellfish allergy eat the chicken they can still have an allergic reaction.</li>
        <li>The following shelf stores any foods that do not fall into the previous categories.</li>
        <li>And finally, ready to eat foods (that do not require any further cooking) at the top above all other foods. (Remember, uncooked eggs should be stored below cooked foods).</li>
    </ul>
</ul>

<h3 class="h3-text">Frozen foods</h3>
<p class="paragraph-text">Keep all frozen foods between 0°F and —10°F. Do not thaw (defrost) and refreeze foods. Only re-freeze if the product is cooked. Keep defrost cycle of freezers short so food will not thaw.</p>

<h3 class="h3-text">Dry Foods</h3>
<p class="paragraph-text">Place dry foods in a storeroom between 50°F and 70°F with relative humidity away from sunlight.</p>
<p class="paragraph-text">Dry foods should be placed on slatted shelves at least six inches off the floor and away from the wall to minimize rodent or pest activity. Do not use toilet rooms, locker areas, mechanical rooms, and similar spaces for storage of food, single-service items, paper goods, or equipment and utensils. Protect dry foods from any kind of contamination: dripping, condensation, or leakage from overhead plumbing pipes. Do not expose products to overhead water and sewer lines unless the lines are shielded to interfere with potential drips. To ensure proper air circulation throughout, keep all refrigerated foods, freezer, storeroom, and kitchen foods at least six inches off the floor.</p>

<h2 class="h2-text" id="defrosting">3. Defrosting Foods</h2>
<ol>
    There are five methods to correctly defrost/thaw foods:
    <ul>
        <li>Take food from freezer and place it in the lower part of refrigerator.</li>
        <li>Leave food in a clean and sanitized sink under cold running water (2-hour maximum time for this method).</li>
        <li>Use microwave only if food is going to be cooked right away.</li>
        <li>Place food in a clean container of cold water, only if you are planning to change the water every one to two hours.</li>
        <li>Defrost during a conventional cooking method, i.e., frying, boiling, broiling, etc.</li>
    </ul>
</ol>

<h2 class="h2-text" id="preparing">4. Preparing Foods</h2>
<p class="paragraph-text">Careful preparation is the key to serving safe food. Preparation is the time when food has a greater chance of getting contaminated. Through all stages of food preparation and service monitoring, the person responsible for food preparation’s health, personal hygiene and hand washing is important. Humans provide an ideal environment for the growth of microorganisms. Prevention is the best way to avoid foodborne illnesses.</p>

<h3 class="h3-text">The health of the individual responsible for food preparation</h3>
<p class="paragraph-text">Nausea, vomiting, cramps, and diarrhea are common symptoms of foodborne illness. A person who shows signs of illness or oozing burns and cuts should stick to tasks other than food preparation. People can also be carriers of disease-producing microorganisms and not be sick themselves. Carriers may not show any symptoms whatsoever. Researchers have concluded that the HIV microorganism that causes AIDS is not spread by food. A person infected with AIDS should not be restricted from food preparation unless they have another illness or cut that may contaminate food.</p>

<h3 class="h3-text">Personal Hygiene</h3>
<ul>
    Practicing good hygiene means good health habits including bathing, washing hair, wearing clean clothing, and frequent hand washing. Poor personal habits are serious hazards in food establishments. Saliva, sweat, and other body fluids can be harmful sources of contamination if they get into food.
    <ul>
        <li>Improper food tasting should be strictly prohibited. Harmful germs can be transferred to food when a preparer uses a utensil more than once to taste food.</li>
        <li>Eating, drinking, and smoking should only be done in designated areas (as fingers may become contaminated during these activities).</li>
        <li>Hair should be properly restrained to prevent contamination of foods.</li>
        <li>The most important thing we can do is proper hand washing.</li>
        <li>Food preparers must have short and clean nails, no nail polish, no fake nails, and no excessive jewelry.</li>
        <li>Gloves can cause contamination just like hands, treat them like second skin. Whenever hands should be washed, you should use a new pair of disposable gloves. When changing from old gloves to new gloves or putting gloves on for the first time, you must wash your hands.</li>
        <li>Street clothes can carry contaminating media to food, equipment, and preparation surfaces.</li>
    </ul>
</ul>

<h3 class="h3-text">Handwashing</h3>
<ul>
    Proper handwashing includes:
    <ul>
        <li>Using warm water, as hot as you can stand.</li>
        <li>Using soap on your hands and scrubbing all the way to the elbows. Using a nail brush for your nails.</li>
        <li>Washing a minimum of 20 seconds and doubling the time to 40 seconds if you use the toilet.</li>
        <li>Using only disposable paper towels or the hot air machine to dry your hands. After you finish drying your hands with the paper towel, use it to shut the water off.</li>
        <li>Hand sanitizing lotions and chemical hand sanitizing solutions may be used by food preparers in addition to handwashing. Hand sanitizing lotions should never be used in place of handwashing.</li>
    </ul>
    In conjunction with proper handwashing, fingernails should be trimmed, filed, and maintained so that handwashing will effectively remove soil from under and around them.
</ul>

<ul>
    When preparing foods, follow these simple rules:
    <ul>
        <li>Maintain proper personal hygiene.</li>
        <li>Handle food with bare hands as little as possible.</li>
        <li>Use disposable gloves.</li>
        <li>Use thermometers.</li>
    </ul>
</ul>

<h2 class="h2-text" id="cooking">5. Cooking Foods</h2>
<ol>
    There are two main reasons why we cook food:
    <ul>
        <li>To make food tastier by changing its appearance, texture, and aroma.</li>
        <li>More importantly, to heat foods and destroy harmful microorganisms that may cause illness.</li>
    </ul>
</ol>

<p class="paragraph-text">Using a thermometer is the only reliable way to check the internal temperature of foods. With the exception of pasteurized eggs and rare roast beef, all foods like poultry, meat, and fish should be cooked to at least 140°F or above for 15 seconds. Breaded or battered meats must be cooked thoroughly. Do not hold unused batter and breading mixtures over for the next day, they must be discarded.</p>

<h3 class="h3-text" id="temp-chart">Temperature Chart</h3>

<table class="table-style">
    <tr>
        <th>Food Product</th>
        <th>Minimum Internal Temp</th>
        <th>Minimum Time</th>
    </tr>
    <tr>
        <td>Poultry (chicken, turkey, duck)</td>
        <td class="center-cell">165°F</td>
        <td class="center-cell">&lt;1 second</td>
    </tr>
    <tr>
        <td>Stuffed Meats</td>
        <td class="center-cell">165°F</td>
        <td class="center-cell">&lt;1 second</td>
    </tr>
    <tr>
        <td>Soups, Stews</td>
        <td class="center-cell">165°F</td>
        <td class="center-cell">&lt;1 second</td>
    </tr>
    <tr>
        <td>Ground Beef, Ground Pork</td>
        <td class="center-cell">155°F</td>
        <td class="center-cell">15 seconds</td>
    </tr>
    <tr>
        <td>Beef Roast (medium), Pork Roast, Ham</td>
        <td class="center-cell">145°F</td>
        <td class="center-cell">3 minutes</td>
    </tr>
    <tr>
        <td>Pork</td>
        <td class="center-cell">145°F</td>
        <td class="center-cell">15 seconds</td>
    </tr>
    <tr>
        <td>Beef, Pork</td>
        <td class="center-cell">145°F</td>
        <td class="center-cell">15 seconds</td>
    </tr>
    <tr>
        <td>Fish, Seafood</td>
        <td class="center-cell">145°F</td>
        <td class="center-cell">15 seconds</td>
    </tr>
    <tr>
        <td>Eggs</td>
        <td class="center-cell">145°F</td>
        <td class="center-cell">15 seconds</td>
    </tr>
    <tr>
        <td>Beef Roast (rare)</td>
        <td class="center-cell">130°F</td>
        <td class="center-cell">112 minutes</td>
    </tr>
</table>

<p class="paragraph-text">***Rare beef roasts require the least internal temperature requirements because the contamination is on the surface of the large roast. When an internal temperature of 130°F for 112 minutes or 145°F for 3 minutes is reached, the surface temperature of the food is much higher.</p>

<p class="paragraph-text">Although fruits and vegetables are not considered potentially hazardous, they should be cooked to reach an internal temperature of 135°F or above.</p>

<h3 class="h3-text">Microwave cooking</h3>
<p class="paragraph-text">When cooking foods in the microwave oven, the distribution of heat is often uneven. To ensure proper cooking, you must achieve a minimum internal cooking temperature of 165°F for foods cooked in a microwave. This provides an extra margin of safety.</p>

<h2 class="h2-text" id="cooling">6. Cooling Foods</h2>
<p class="paragraph-text">According to CDC, inadequate cooling and improper refrigeration are the main causes for food contamination in the United States.</p>

<p class="paragraph-text">Bacteria will reproduce in foods if left outside to cool before refrigeration. Foods must pass through the temperature danger zone as quickly as possible. The Food Code recommends that potentially hazardous foods should be cooled from 135°F to 70°F within 2 hours, and from 70°F to 41°F or below within an additional 4 hours.</p>

<ol>
    There are three recommended cooling methods:
    <ul>
        <li>Divide large quantities of food into smaller portions.</li>
        <ol type="a">
            <li>Place food in shallow containers of 4" deep or less and refrigerate immediately, uncovered in the upper part of the freezer or refrigerator, and then cover and transfer to the refrigerator once food has cooled down (41°F).</li> 
            <li>Large amounts of meat can be sliced into smaller pieces.</li>
        </ol>
        <li>Use an ice bath by placing pans of food into larger containers filled with ice and stirring the contents.</li>
        <li>Use specially designed refrigerators to chill food quickly.</li>
    </ul>
</ol>

<p class="paragraph-text">Do not cool foods at room temperature.</p>

<h2 class="h2-text" id="holding">7. Holding Foods</h2>
<p class="paragraph-text">During the time between cooking and serving, foods should be stored in equipment that keeps them above 135°F or below 41°F, the required temperatures at all times. Never use steam tables, heat lamps or other holding equipment to reheat foods (they do not reach 165°F in the required time). Holding equipment must have a thermometer. Stir food constantly to make sure they remain hot throughout. Keep food covered while holding and use batch cooking (cooking in small amounts) instead of large quantities when possible.</p>

<h3 class="h3-text">Buffets</h3>
<p class="paragraph-text">Food should always be served in a way that prevents contamination. Keep foods served buffet style covered when possible. Keep all hot foods at 135°F or more and cold foods 41°F or less.</p>

<ul>
    Monitoring buffets:
    <ul>
        <li>Monitor temperatures of food constantly using a calibrated thermometer.</li>
        <li>Utensils used for buffets must be kept inside the food to be served. Long handle buffet utensils are recommended. Use only one utensil per dish.</li>
        <li>Do not allow guests to reuse soiled tableware or dirty dishes again. Only cups and beverage glasses should be reused again. Provide condiments, seasonings, and dressings in individual packages or covered dispensers to avoid contamination. Unwrapped foods once served to a guest may not be re-served or re-used. It must be thrown away. An example of this is bread, butter, rolls and salsa.</li>
    </ul>
</ul>

<h2 class="h2-text" id="serving">8. Serving Foods</h2>
<p class="paragraph-text">Some foods, like raw marinated fish, steak tartar, and raw shellfish have a greater chance of contamination.</p>

<ul>
    To avoid possible contamination by hands:
    <ul>
        <li>Do not touch eating surfaces of tableware.</li>
        <li>Hold plates and glasses by the bottom.</li>
        <li>Wash and store glasses upside down.</li>
    </ul>
</ul>

<h2 class="h2-text" id="transporting">9. Food transportation</h2>
<ul>
    When food is transported, the risk of contamination is greater.
    <ul>
        <li>Always keep hot foods at 135°F or more and cold foods at 41°F or less.</li>
        <li>Keep all foods in a tightly covered container.</li>
        <li>Potable (drinking) water must be available at the reception site.</li>
        <li>Non-potable (non-drinkable) water can only be used for air-conditioning systems and to fight fires.</li>
        <li>Clean and sanitized units are to be used to transport food.</li>
        <li>Food that has been exposed to sources of contamination should never be used again. Remember that it is not always possible to identify food or contaminated food by appearance, smell, or taste. If in doubt, throw it out!</li>
    </ul>
</ul>

<h2 class="h2-text" id="reheating">10. Reheating Foods</h2>
<p class="paragraph-text">When reheating leftovers (food can be reheated only once) bring them within 2 hours to a temperature of 165°F throughout for 15 seconds. If using a microwave oven, reheat to 165°F and allow to stand covered for 2 minutes after reheating. Do not reheat food in steam tables, warmers or using heat lamps. Always use the highest possible temperature for the shortest amount of time.</p>

<button class="back-to-top-button" onclick="goBackToTop()">Back to Top</button>



<h1 class="h1-text" id="cleaning-sanitizing-and-pest-control">Cleaning, Sanitizing, and Pest Control</h1>
<h2 class="h2-text" id="cleaning-and-sanitizing">1. Cleaning and Sanitizing</h2>
<ul>
    Cleaning is the physical removal of soil and food residues from surfaces of equipment and utensils. Cleaning alone is not enough to maintain a healthy home kitchen. We must sanitize to kill the bacteria that could contaminate food. By sanitizing we reduce the number of disease-causing microorganisms to safe levels.
    <ul>
        <li>Use a three-compartment sink to manually clean and sanitize equipment and utensils. Use hot water at 100°F for washing and rinsing and cold water (70-75°F) for the third and last sink. Before beginning manual dishwashing, make sure to clean and sanitize each compartment of the sink.</li>
        <li>First wash, second rinse, and third sanitize.</li>
        <li>After sanitizing, all equipment must be air dried: no rags, no towels, and no paper.</li>
    </ul>
</ul>

<ol>
    There are two ways to sanitize in food establishments:
    <ul>
        <li>Heat sanitizing involves placing cleaned equipment and utensils in hot water of 171°F for 30 seconds.</li>
        <li>Chemical sanitizing involves placing equipment and utensils in an approved chemical sanitizing solution for a minimum of 60 seconds at cool temperatures. It is important to remember, if the sanitizing solution temperature is too high, the sanitizer may evaporate from the solution.</li>
    </ul>
</ol>

<h2 class="h2-text">Factors that change the effectiveness of sanitizers</h2>
<ul>
    Soap or detergent residue can decrease the effectiveness of a sanitizing solution. The power of a chemical sanitizer also weakens as bacteria and other microorganisms are destroyed (sanitizing solutions should be replaced on a regular basis).
    <ul>
        <li>A double concentration of the sanitizing solution on equipment too large for the sink or equipment considered food contact surfaces may increase the effectiveness but...More is not always better since high concentrations of sanitizer can become toxic.</li>
    </ul>
</ul>

<h2 class="h2-text">Approved Chemical Sanitizers</h2>
<ol>
    <ul>
        <li>Chlorine 50 ppm (most commonly used sanitizing agent).</li>
        <li>Iodine 12.5 ppm.</li>
        <li>Quaternary Ammonium (Quats) 200 ppm (parts per million).</li>
    </ul>
    ***To make one gallon sanitizing solution, mix one gallon of water with half an ounce of bleach.
</ol>

<p class="paragraph-text">To check for the correct concentration of sanitizing solutions, only test kits can be used.</p>

<h2 class="h2-text">Other important tips for proper cleaning and sanitizing</h2>
<ul>
    <li>Store clean sanitized equipment at least 6 inches off the floor.</li>
    <li>Always disconnect all electric equipment before washing and sanitizing.</li>
    <li>Use the right cleaning agent for the job and use the product correctly.</li>
    <li>Cloths and sponges used for wiping equipment, utensils and food contact surfaces should not be used for any other purposes. Keep wiping cloths in a container with a sanitizing solution.</li>
</ul>

<h1 class="h1-text" id="pest-control">2. PEST CONTROL</h1>
<p class="paragraph-text">Animals and pests can cause illnesses to people by contaminating food and food contact surfaces. It is important that you do not touch animals during food preparation and serving. If you touch an animal, for any reason, wash your hands before continuing to work with food.</p>

<ul>
    Signs of pests:
    <ul>
        <li>Brown egg cases Cockroaches.</li>
        <li>Black pellets or droppings4 Rat or mouse infestation.</li>
        <li>Black rub marks along the wall 4 Oil and filth from a rat's body.</li>
    </ul>
</ul>

<ul>
    <li>The best way to keep pests out of your facility is making sure they cannot get in. In other words, prevention is the best method of pest control.</li>
    <li>Do not leave food on floors.</li>
    <li>Eliminate areas where pests may hide.</li>
    <li>Make sure walls and floors have no holes that would allow the entrance of pests.</li>
    <li>Use screens for windows and doors.</li>
    <li>Keep the area surrounding the facility clean, organized and dry.</li>
</ul>

<h3 class="h3-text">Controlling Insects</h3>
<p class="paragraph-text">Many devices can be used such as zappers, traps, mechanical traps, repellants, sprays, and other kinds of insecticides. Food must be removed or covered before an effective treatment can be done. Use only insecticides approved for use in food service areas. Use poison or poison boards only as a last resort. Only a licensed PCO (Pest Control Operator) can apply insecticides.</p>

<h3 class="h3-text">Storing Supplies</h3>
<p class="paragraph-text">Pesticides must be physically separated from other cleaners, sanitizers, and toxic materials. Chemicals such as cleaners and sanitizers should be stored away from food and food contact surfaces, if possible, away from dry storage areas.</p>

<button class="back-to-top-button" onclick="goBackToTop()">Back to Top</button>



<h1 class="h1-text" id="equipment-facilities-maintenance">Equipment, Facilities & Maintenance</h1>

<h2 class="h2-text" id="equipment">1. Equipment and Utensils</h2>
<ul>
    Food equipment requires the use of specialized equipment and utensils for cooking and serving.
    <ul>
        <li>All equipment and utensils should be constructed and repaired with safe materials that are corrosion resistant, non-absorbent, smooth, easy to clean, and durable under normal use.</li>
        <li>Equipment must be heavy enough to withstand constant cleaning and sanitizing.</li>
        <li>Single service articles must be made from clean and sanitary materials, and they cannot be reused.</li>
        <li>Food equipment can only be lubricated using approved lubricants.</li>
        <li>All cutting boards must be made of a hard wood, like hard maple or heavy-duty plastic or rubber that is resistant to scratching, scoring, chipping and distortion.</li>
        <li>Food contact surfaces must be easy to clean and sanitize. All food contact equipment and surfaces should be cleaned at least every 24 hours.</li>
        <li>Stationary equipment must be cleaned in place since they cannot be moved. Cleaning and sanitizing solutions can be circulated throughout fixed systems and must come into contact with all interior surfaces. Fixed equipment must be self-draining or capable of being completely drained of the cleaning and sanitizing solutions.</li>
        <li>Food equipment, including icemakers, cannot be located under exposed pipes, unprotected sewer, or water lines.</li>
        <li>Equipment placed on tables should be sealed to the table or elevated on legs at least 4 inches from the table to allow easy cleaning of equipment and surrounding areas.</li>
        <li>Floor mounted equipment, unless easily movable must be sealed to the floor, raised on a platform, or elevated 6 inches from floor.</li>
    </ul>
</ul>

<h3 class="h3-text">Refrigerators and Freezers</h3>
<p class="paragraph-text">They must be made of durable materials that do not rust, doors that seal well and have easy to clean surfaces. Interiors should have sufficient light, with bulbs protected against breakage. Refrigerators should be designed to keep food at 41°F or below. Temperatures should range between 38°F and 40°F. Monitor temperatures several times a day. It is important to store foods in the correct part of the refrigerator. Use the FIFO rule: first-in first-out. Keep doors closed as much as possible. Inspect doors for leaky or torn gaskets.</p>

<h3 class="h3-text">Dishwashing Machines</h3>
<ul>
    Each machine has its own operating procedures, which must be followed carefully
    <ul>
        <li>Never overload dish washers. Keep dishwashers clean inside and out, including spray arms to make sure they are not clogged.</li>
        <li>Wash cycle should be between 140°F and 160°F, final rinse between 180°F and 195°F.</li>
        <li>Follow recommended temperatures for the kind of dishwasher you own.</li>
    </ul>
</ul>

<h3 class="h3-text">Thermometers</h3>
<ul>
    <li>Must be used to check the temperature of incoming shipments of food products, final cooking temperatures, temperatures in the refrigerators, freezers, and hot holding units.</li>
    <li>Never use glass or mercury filled thermometers. They must be made of metal.</li>
    <li>They must be numerical and accurate to within +/- 2°F. They must measure between 0°F and 220°F.</li>
    <li>Calibrating the thermometer ensures the thermometer reads accurately. You may calibrate the thermometer using boiling water (212°F) or crushed ice and water (32°F). Clean and sanitize thermometer after each use.</li>
    <li>Recalibrate the thermometer if it is dropped.</li>
    <li>The first 2 inches of the thermometer (tip) is the sensitive part, so make sure to insert at least that much. Always insert the thermometer in the thickest part of the meat (i.e., the center of a turkey breast) and in at least 2 or 3 different places.</li>
</ul>

<h2 class="h2-text" id="facilities">2. Facilities</h2>
<p class="paragraph-text">In order for an establishment to be clean and safe, the facilities must be constructed with good ventilation and plumbing systems. Proper ventilation is necessary to make sure individuals responsible for preparing food are comfortable and provide a safe environment that is free of harmful odors and elements.</p>

<h3 class="h3-text">Walls and ceilings</h3>
<p class="paragraph-text">Must be in good condition. They must be painted in a light color to make dirt and soil easier to detect and to allow thorough cleaning and sanitizing in the food preparation area. Hoods used for ventilation must be in good repair and strong enough to prevent moisture or grease build-up on walls, ceilings, and equipment.</p>

<h3 class="h3-text">Floors</h3>
<p class="paragraph-text">Should be smooth and properly constructed of non-absorbent materials such as sealed concrete, cement, or quarry tile. Carpets are not allowed in the kitchen. Floors must be easy to clean and maintained in good condition.</p>

<h3 class="h3-text">Utilities</h3>
<p class="paragraph-text">Light fixtures, wall mounted fans, decorations, etc. should be easy to clean. Plumbing fixtures must not interfere in the proper cleaning of floors, walls, or ceilings. Electric wires and plumbing pipes should not be exposed in food handling or storage areas.</p>

<h3 class="h3-text">Lighting</h3>
<p class="paragraph-text">It is important to have enough bright lights where food is handled and prepared. Light bulbs in the kitchen preparation areas should be shielded, coated, or otherwise shatter resistant.</p>

<h2 class="h2-text" id="maintenance">3. Maintenance</h2>

<h3 class="h3-text">Water supply</h3>
<p class="paragraph-text">Potable (drinkable) water should be transported, handled, and dispensed in a sanitary manner. You may be able to work around some short time shutdowns on the water supply by obtaining potable water from another place. You may use disposable tableware and kitchenware for short periods of time. However, you cannot continue operations if there is a plumbing failure, or you do not have water for extended periods of time. You must have cold and hot water at all times.</p>

<h3 class="h3-text">Cross-connection</h3>
<p class="paragraph-text">The mixing of clean and dirty water in any way. Backflow (an example of cross connection) is the flow of unsafe water into the supply of potable water, this must be avoided. (Hoses should not be attached to a faucet unless a vacuum breaker is installed, which is a valve that will prevent backflow).</p>

<h3 class="h3-text">Back Siphonage</h3>
<p class="paragraph-text">Occurs when pressure in the potable water supply drops below that of a non-potable, used or contaminated water source. An air gap is the best way to prevent back siphonage. An air gap is a space of air or separation between a supply of potable water and any possible source of contamination. The air gap must be at least twice the diameter of the water supply inlet or twice the diameter of the drainpipe from a three-compartment sink, but a minimum of one inch. Air Gaps must be used in all food preparation and food handling equipment including ice machines. If grease traps or garbage grinders are used, they should be designed and located in an easy to clean manner. Do not let grease traps fill to the top; they must be cleaned as often as necessary. All sewage including liquid waste such as mop water should flow into a public sewer system. Any problems with the sewage system are a serious hygiene hazard.</p>

<h3 class="h3-text">Waste Disposal</h3>
<p class="paragraph-text">Good management of waste minimizes the attraction of insects, rodents, and other pests to the food establishment. Place a waste basket in each area of the food establishment where trash is regularly thrown away. Store garbage in covered containers and use plastic bags before placing trash in the dumpster. Each food establishment should also have an outside storage area to maintain trash and recyclables. Keep equipment and containers covered tightly to discourage insects and rodents. Outdoor storage areas must be kept clean and free of trash.</p>

<a href="#top" id="back-to-top-button" class="my-button" onclick="goBackToTop()">Back to Top</a>