---
layout: browse-recipes
title: All Recipes
permalink: /recipes/
---

<h1 class="post-title">{{ page.title }}</h1>

<div>

    <div class="post-list">
        {% for post in site.posts %}
          <div class="card shadow">
            {% if post.image %}
            <img src="{{ post.image }}" alt="{{ post.altImage }}" title="{{ post.title }}">
            {% else %}
            <img src="/images/image_coming_soon.jpg" alt="Card Image">
            {% endif %}
            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            <span class="post-meta">
              {% if post.info %}
                {{ post.info }}
              {% endif %}
            </span>
          </div>
        {% endfor %}
      </div>
      

</div>