---
layout: home-page
---

<div class="hero">
  <img id="heroImage" src="logo.png" alt="Hero Image" class="hero-image">
</div>

<div class="home">

  <h3 class="homepage-main-description">Welcome to Osbern Culinary, the ultimate destination for culinary enthusiasts and home chefs alike. Our passion is simple: crafting recipes that are nothing short of extraordinary. At the heart of every dish we create is a commitment to perfection, a relentless pursuit of flavors that sing, textures that delight, and presentations that captivate.</h3>

  <h3 class="homepage-main-description">Whether you're a seasoned cook or just starting on your culinary journey, join us as we explore the art and science behind each recipe, unlocking the secrets that transform ordinary meals into unforgettable experiences. Get ready to elevate your culinary prowess and embark on a delicious adventure with us!</h3>

  <h1 class="homepage-heading">Newly Added Recipes</h1>

  <h3 class="homepage-heading-description">Discover our latest culinary creations below!</h3>

  <div class="post-list">
    {% for post in site.posts limit:3 %}
      <div class="card shadow">
        {% if post.image %}
          <img src="{{ post.image }}" alt="{{ post.altImage }}" title="{{ post.title }}">
        {% else %}
          <img src="/jekyll/images/image_coming_soon.jpg" alt="Card Image">
        {% endif %}
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <span class="post-meta">
          {% if post.info %}
            {{ post.info }}
          {% endif %}
        </span>
      </div>
    {% endfor %}
  </div>
  
<h1 class="homepage-heading">Featured Recipes</h1>

<h3 class="homepage-heading-description">A handpicked selection of featured recipes. These tried-and-true favorites have earned their place in the spotlight.</h3>

<div class="post-list">
  {% for post in site.posts %}
    {% if post.slug == 'collard-greens' %}
      <div class="card shadow">
        {% if post.image %}
          <img src="{{ post.image }}" alt="{{ post.altImage }}" title="{{ post.title }}">
        {% else %}
          <img src="/jekyll/images/image_coming_soon.jpg" alt="Card Image">
        {% endif %}
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <span class="post-meta">
          {% if post.info %}
            {{ post.info }}
          {% endif %}
        </span>
      </div>
  {% endif %}

  {% if post.slug == 'shallow-poached-fish' %}
      <div class="card shadow">
        {% if post.image %}
          <img src="{{ post.image }}" alt="{{ post.altImage }}" title="{{ post.title }}">
        {% else %}
          <img src="/jekyll/images/image_coming_soon.jpg" alt="Card Image">
        {% endif %}
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <span class="post-meta">
          {% if post.info %}
            {{ post.info }}
          {% endif %}
        </span>
      </div>
  {% endif %}

  {% if post.slug == 'jambalaya' %}
      <div class="card shadow">
        {% if post.image %}
          <img src="{{ post.image }}" alt="{{ post.altImage }}" title="{{ post.title }}">
        {% else %}
          <img src="/jekyll/images/image_coming_soon.jpg" alt="Card Image">
        {% endif %}
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <span class="post-meta">
          {% if post.info %}
            {{ post.info }}
          {% endif %}
        </span>
      </div>
  {% endif %}

  {% endfor %}
</div>


  <h1 class="homepage-heading">Random Recipes</h1>

  <h3 class="homepage-heading-description">Take a peek into our collection with these randomly selected recipes.</h3>
  
  <div class="post-list">
    {% assign random_posts = site.posts | sample: 3 %}
    {% for post in random_posts %}
      <div class="card shadow">
        {% if post.image %}
          <img src="{{ post.image }}" alt="{{ post.altImage }}" title="{{ post.title }}">
        {% else %}
          <img src="/jekyll/images/image_coming_soon.jpg" alt="Card Image">
        {% endif %}
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <span class="post-meta">
          {% if post.info %}
            {{ post.info }}
          {% endif %}
        </span>
      </div>
    {% endfor %}
  </div>
  

</div>
