/**
 * Site header
 */
.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    border-top: 5px solid $grey-color-dark;
    border-bottom: 2px solid $grey-color-dark;
    min-height: 56px;
    background-color: gainsboro;

    // Positioning context for the mobile navigation icon
    //position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    font-family: 'Merienda', cursive;
    text-transform: uppercase;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

/*.site-nav {
    float: right;
    line-height: 56px;
    background-color: gainsboro;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        //background-color: $background-color;
        border: 1px solid $grey-color-dark;
        border-radius: 5px;
        text-align: right;
        
        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;
            background-color: gainsboro;

            > svg {
                width: 18px;
                height: 15px;
                background-color: gainsboro;

                path {
                    fill: $grey-color-dark;
                }
            }
        }
        

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
            background-color: gainsboro;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}*/

.site-nav {
    float: right;
    line-height: 56px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 6vh; //navbar hight adjustment

    .page-link {
        color:#111;
        line-height: 1.5;
        margin: 20px;
    
        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    .burger{
        display:none;
    }

    .burger div{
        width: 25px;
        height: 3px;
        background-color: $grey-color-dark;
        margin-top: 5 px;
        margin-bottom: 5px;
        transition: all 0.15s ease;
    }

    @media screen and (max-width: 768px){
        body{
            overflow-x: hidden;
        }
        .trigger{
            position: absolute;
            right: 0px;
            height: 16em; //height of triggered menu
            top: 65%;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
            transform: translateX(100%);
            transition: all 0.25s ease;
        }
        .trigger a{
            opacity: 0;
        }
        .burger {
            display: block;
            cursor: pointer;
            position:absolute;
            top: 50%;
            transform: translateY(-50%);
            //transform: translateX(-10%);
            margin-right: 10%;
        }
    }

    .nav-active{
        transform: translateX(0%);
        border: 1px solid $grey-color-dark;
        margin-top: 21px;
        //padding-top: 30px;
        background-color: gainsboro;
    }

    @keyframes navLinkFade {
        from{
            opacity: 0;
            transform: translateX(50px);
        }
        to{
            opacity: 1;
            transform: translateX(0px);
        }
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);

}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}


/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding-top: 10px;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: 0px;
    font-family: 'Merienda', cursive;
    text-transform: uppercase;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: 0px;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: 0px;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    margin-top: 50px;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    grid-gap: 20px;
    /*
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
    */
}

.post-meta {
    font-size: $small-font-size;
    color: #4F4F4F;
    font-style: italic;
}

.post-link {
    display: block;
    font-size: 24px;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-description {
    font-size: 18px;
    text-indent: 2em;
    font-style: italic;
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

a:hover {
    cursor:pointer;
}

/**
 * Homepage
 */
.homepage-main-description {
    text-align: left;
    margin-bottom: 20px;
    text-indent: 50px;
}
.homepage-heading {
    margin-top: 20px;
}
.homepage-heading-description {
    text-indent: 0em;
    text-align: center;
}

/**
 * About page
 */
 .about-page-main-text {
    text-align: left;
    margin-bottom: 20px;
    text-indent: 50px;
}

/**
 * Food safety page
 */
.h1-text {
    text-align: Center;
    font-size: 2.15em;
    padding-top: 60px;
}
.h2-text {
    text-align: left;
    font-size: 1.75em;
    padding-top: 60px;
}
.h3-text {
    text-align: left;
    font-size: 1.5em;
    padding-top: 60px;
}
.h4-text {
    text-align: left;
    padding-top: 60px;
}
.paragraph-text {
    text-align: left;
    margin-bottom: 20px;
    text-indent: 50px;
}
//table
.table-style {
    border-collapse: collapse;
    width: 100%;
}
.table-style tr {
    border-bottom: 1px solid #ddd;
}
.center-cell {
    text-align: center;
}
//table of contents
#toc_container {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 20px;
    width: auto;
}

.toc_title {
    font-weight: 700;
    text-align: center;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
}

/**
 * Category Grid
 */
.K2-grid {
    padding: 5px;
    text-align: center;
}

.K2-grid ul {
    clear: both;
    margin: 15px 0 20px;
    padding:0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.coll-3 ul li {
    width: 25%;
}

.K2-grid li {
    font-size: 0.9em;
    font-weight: 500;
    line-height: 1.3em;
    text-align: center;
    background: #ffffff;
    border-radius: 5px;
    margin: 5px 0;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    padding: 10px 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.K2-grid li a {
    display: block;
    text-decoration: none;
    color: #333;
}

.K2-grid li svg {
    margin: 3px 0;
    width: 35px;
    height: 35px;
    fill: #26ae61;
    display: inline-block;
}

.K2-grid li span {
    display: block;
    padding: 0 3px;
}

@media screen and (max-width: 768px){
    .coll-3 ul li {
        width: 30%;
    }
}

@media screen and (min-width: 768px){
    .coll-3 ul li {
        max-width: 125px;
    }
}



/**
 * Recipe Cards
 */
.card {
    width: 290px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 8px;
}

.card-title {
    font-size: 20px;
    margin-bottom: 8px;
}

.card-description {
    margin-bottom: 8px;
}

.card-link {
    text-decoration: none;
    color: inherit;
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}


/**
 * Back Button
 */
 .my-button {
    background-color: #0095ff;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    padding: 8px .8em;
    text-align: center;
    /*
    margin: 0;
    outline: none;
    position: relative;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
    */
  }
  
  .my-button:hover,
  .my-button:focus {
    background-color: #07c;
    text-decoration: none;
    color: #ffffff;
  }
  
  .my-button:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
  }

  .my-button:active {
    background-color: #0064bd;
    box-shadow: none;
  }

  .my-button:visited {
    color: #fff;
    text-decoration: none;
  }

/**
 * Back to top Button
 */
 .back-to-top-button {
    background-color: #0095ff;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    padding: 8px .8em;
    text-align: center;
    /*
    margin: 0;
    outline: none;
    position: relative;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
    */
  }
  
  .back-to-top-button:hover,
  .back-to-top-button:focus {
    background-color: #07c;
    text-decoration: none;
    color: #ffffff;
  }
  
  .back-to-top-button:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
  }

  .back-to-top-button:active {
    background-color: #0064bd;
    box-shadow: none;
  }

  .back-to-top-button:visited {
    color: #fff;
    text-decoration: none;
  }

/**
 * Back to top Button
 */
 home-page-background {
    margin: 0;
    padding: 0;
    background-color: #000; /* Initial black background for the entire page */
    transition: background-color 0.5s;
}

.hero {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Set container height as needed */
}

.hero-image {
    max-width: 100%; /* Ensure the image doesn't exceed its container's width */
    max-height: 100%; /* Ensure the image doesn't exceed its container's width */
    height: auto;
    position: relative;
    top: -10vh;
    opacity: 1;
    transition: opacity 0.5s;
}

/**
 * Alert Message
 */
.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}

.alert.success {background-color: #04AA6D;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}