---
layout: post-carousel
title: "Recipe Title"
date: 2023-09-07 09:00:59 -0700
categories:
 - appetizers
 - mains
 - sides
 - sauces-and-condiments
 - seasonings-and-marinades
 - desserts
 - breads
 - salads
 - beverages
 - beef
 - pork
 - chicken
 - seafood
 - mexican
 - italian
 - asian
 - bbq-and-grilling
 - breakfast
 - slow-cooker
 - pressure-cooker
 - sous-vide
 - soups
 - salsas
 - restaurant-recipes
info: "This is the description under the title."
image: /images/image_coming_soon.jpg
carousels:
  - images: 
    - image: /images/image_coming_soon.jpg
    - image: /images/image_coming_soon.jpg
    - image: /images/image_coming_soon.jpg
    - image: /images/image_coming_soon.jpg
  - images: 
    - image: /images/image_coming_soon.jpg
    - image: /images/image_coming_soon.jpg
    - image: /images/image_coming_soon.jpg
    - image: /images/image_coming_soon.jpg
ingredients:
  - 1 first ingredient
  - 1 second ingredient
  - 1 third ingredient
  - 1 fourth ingredient
  - 1 fifth ingredient
  - 1 sixth ingredient
  - 1 seventh ingredient
  - 1 eight ingredient
  - 1 ninth ingredient
  - 1 tenth ingredient
  - 1 last ingredient
ingredients2:
  - 1 first ingredient
  - 1 second ingredient
  - 1 third ingredient
  - 1 fourth ingredient
  - 1 fifth ingredient
  - 1 sixth ingredient
  - 1 seventh ingredient
  - 1 eight ingredient
  - 1 ninth ingredient
  - 1 tenth ingredient
  - 1 last ingredient
---

<p>{{ info }}</p>

<h2>Ingredients</h2>

<ul>
  {% for ingredient in page.ingredients %}
    <li>{{ ingredient }}</li>
  {% endfor %}
</ul>

<h2>Ingredients2</h2>

<ul>
    {% for ingredient2 in page.ingredients2 %}
      <li>{{ ingredient2 }}</li>
    {% endfor %}
</ul>

<h2>Instructions</h2>

<ol>
  <li>First step.</li>
  <li>Second step.</li>
  <li>Third step.</li>
  <li>Last step.</li>
</ol>

<h2>Notes</h2>

<ul>
  <li>Note one.</li>
  <li>Note two.</li>
  <li>Note three.</li>
  <li>Note four.</li>
</ul>