<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}

        <!-- <a type="button" class="my-button" onclick="goBack()">Go Back</a> -->
        <a href="{{ site.baseurl }}/categories" class="my-button" onclick="goBack()">Back to Categories</a>
        <!-- <a href="#top" id="back-to-top-button" class="my-button" onclick="goBackToTop()">Back to Top</a> -->
        <button class="back-to-top-button" onclick="goBackToTop()">Back to Top</button>
      </div>

    </div>

    {% include footer.html %}

  </body>

</html>