---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-description">{{ page.info }}</p>
    <!--<p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>-->
  </header>

  <div style="display: flex; justify-content: center;">
    {% if page.image %}
     <img src="{{ page.image }}" title="{{ post.title }}" style="width:100%; max-width: 600px;">
    {% endif %}
  </div>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <p class="post-meta">This recipe was added on <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></p>
  <!-- <a onclick="window.history.back()">Go Back</a> -->

</article>

<a class="my-button" onclick="goBack()">Go Back</a>
<!--<a href="#top" id="back-to-top-button" class="back-to-top-button" onclick="goBackToTop()">Back to Top</a>-->
<button class="back-to-top-button" onclick="goBackToTop()">Back to Top</button>